<!-- INCLUDE overall_header.html -->
<!-- EVENT viewforum_forum_title_before -->
<h2 class="forum-title"><!-- EVENT viewforum_forum_name_prepend --><a href="{U_VIEW_FORUM}">{FORUM_NAME}</a><!-- EVENT viewforum_forum_name_append --></h2>
<!-- EVENT viewforum_forum_title_after -->
<!-- IF FORUM_DESC or MODERATORS or U_MCP -->
<div>
	<!-- NOTE: remove the style="display: none" when you want to have the forum description on the forum body -->
	<!-- IF FORUM_DESC --><div style="display: none !important;">{FORUM_DESC}<br /></div><!-- ENDIF -->
	<!-- IF MODERATORS --><p><strong><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->{L_COLON}</strong> {MODERATORS}</p><!-- ENDIF -->
</div>
<!-- ENDIF -->

<!-- IF S_FORUM_RULES -->
	<div class="rules<!-- IF U_FORUM_RULES --> rules-link<!-- ENDIF -->">
		<div class="inner">

		<!-- IF U_FORUM_RULES -->
			<a href="{U_FORUM_RULES}">{L_FORUM_RULES}</a>
		<!-- ELSE -->
			<strong>{L_FORUM_RULES}</strong><br />
			{FORUM_RULES}
		<!-- ENDIF -->

		</div>
	</div>
<!-- ENDIF -->

<!-- IF S_HAS_SUBFORUM -->
    <!-- IF STYLE_SETTINGS_CONFIG_FORUMLIST_DISPLAY == 'Grid' -->
        <!-- INCLUDE forumlist_grid.html -->
    <!-- ELSE -->
        <!-- INCLUDE forumlist_body.html -->
    <!-- ENDIF -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_POST_INFO or .pagination or TOTAL_POSTS or TOTAL_TOPICS -->
	<div class="action-bar bar-top">

	<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
			<!-- EVENT viewforum_buttons_top_before -->

		<a href="{U_POST_NEW_TOPIC}" class="button specialbutton" title="<!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF -->">
			<!-- IF S_IS_LOCKED -->
				<span>{L_BUTTON_FORUM_LOCKED}</span> <i class="icon fa-lock fa-fw" aria-hidden="true"></i>
			<!-- ELSE -->
				<span>{L_BUTTON_NEW_TOPIC}</span> <i class="icon fa-pencil fa-fw" aria-hidden="true"></i>
			<!-- ENDIF -->
		</a>
			<!-- EVENT viewforum_buttons_top_after -->
	<!-- ENDIF -->

	<!-- IF S_DISPLAY_SEARCHBOX -->
		<div class="search-box" role="search">
			<form method="get" id="forum-search" action="{S_SEARCHBOX_ACTION}">
			<fieldset>
				<input class="inputbox search tiny" type="search" name="keywords" id="search_keywords" size="20" placeholder="{L_SEARCH_FORUM}" />
				<button class="button button-search" type="submit" title="{L_SEARCH}">
					<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SEARCH}</span>
				</button>
				<a href="{U_SEARCH}" class="button button-search-end" title="{L_SEARCH_ADV}">
					<i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SEARCH_ADV}</span>
				</a>
				{S_SEARCH_LOCAL_HIDDEN_FIELDS}
			</fieldset>
			</form>
		</div>
	<!-- ENDIF -->

	<div class="pagination">
        <!-- IF not S_IS_BOT and U_MARK_FORUMS -->
                <a href="{U_MARK_FORUMS}" class="mark-read" data-ajax="mark_forums_read">{L_MARK_SUBFORUMS_READ}</a> &bull; 
        <!-- ENDIF -->    
		<!-- IF not S_IS_BOT and U_MARK_TOPICS and .topicrow --><a href="{U_MARK_TOPICS}" class="mark" accesskey="m" data-ajax="mark_topics_read">{L_MARK_TOPICS_READ}</a> &bull; <!-- ENDIF -->
		{TOTAL_TOPICS}
		<!-- IF .pagination -->
			<!-- INCLUDE pagination.html -->
		<!-- ELSE -->
			&bull; {PAGE_NUMBER}
		<!-- ENDIF -->
	</div>

	</div>
<!-- ENDIF -->

<!-- IF S_NO_READ_ACCESS -->

	<div class="panel">
		<div class="inner">
		<strong>{L_NO_READ_ACCESS}</strong>
		</div>
	</div>

	<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->

		<form action="{S_LOGIN_ACTION}" method="post">

		<div class="panel">
			<div class="inner">

			<div class="content">
				<h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>

				<fieldset class="fields1">
				<dl>
					<dt><label for="username">{L_USERNAME}{L_COLON}</label></dt>
					<dd><input type="text" tabindex="1" name="username" id="username" size="25" value="{USERNAME}" class="inputbox autowidth" /></dd>
				</dl>
				<dl>
					<dt><label for="password">{L_PASSWORD}{L_COLON}</label></dt>
					<dd><input type="password" tabindex="2" id="password" name="password" size="25" class="inputbox autowidth" autocomplete="off" /></dd>
					<!-- IF S_AUTOLOGIN_ENABLED --><dd><label for="autologin"><input type="checkbox" name="autologin" id="autologin" tabindex="3" /> {L_LOG_ME_IN}</label></dd><!-- ENDIF -->
					<dd><label for="viewonline"><input type="checkbox" name="viewonline" id="viewonline" tabindex="4" /> {L_HIDE_ME}</label></dd>
				</dl>
				<dl>
					<dt>&nbsp;</dt>
					<dd><input type="submit" name="login" tabindex="5" value="{L_LOGIN}" class="button1" /></dd>
				</dl>
				{S_LOGIN_REDIRECT}
				</fieldset>
			</div>

			</div>
		</div>

		</form>

	<!-- ENDIF -->

<!-- ENDIF -->

<!-- EVENT viewforum_body_topic_row_before -->

<!-- BEGIN topicrow -->

	<!-- IF not topicrow.S_TOPIC_TYPE_SWITCH and not topicrow.S_FIRST_ROW -->
		</ul>
		</div>
	</div>
	<!-- ENDIF -->

	<!-- IF topicrow.S_FIRST_ROW or not topicrow.S_TOPIC_TYPE_SWITCH -->
		<div class="forumbg<!-- IF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) --> announcement<!-- ENDIF -->">
		<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt<!-- IF S_DISPLAY_ACTIVE --> id="active_topics"<!-- ENDIF -->><div class="list-inner"><!-- IF S_DISPLAY_ACTIVE -->{L_ACTIVE_TOPICS}<!-- ELSEIF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) -->{L_ANNOUNCEMENTS}<!-- ELSE -->{L_TOPICS}<!-- ENDIF --></div></dt>
					<dd class="posts"><span class="icon fa-comments"></dd>
					<dd class="views"><span class="icon fa-eye"></dd>
					<dd class="lastpost"><span><span class="icon fa-clock-o"></span></dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist topics">
	<!-- ENDIF -->

		<!-- EVENT viewforum_body_topicrow_row_before -->
		<li class="row<!-- IF topicrow.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF --><!-- IF topicrow.S_POST_GLOBAL --> global-announce<!-- ENDIF --><!-- IF topicrow.S_POST_ANNOUNCE --> announce<!-- ENDIF --><!-- IF topicrow.S_POST_STICKY --> sticky<!-- ENDIF --><!-- IF topicrow.S_TOPIC_REPORTED --> reported<!-- ENDIF --><!-- IF topicrow.S_TOPIC_DELETED --> deleted<!-- ENDIF -->">
			<!-- EVENT viewforum_body_topic_row_prepend -->
			<dl class="row-item {topicrow.TOPIC_IMG_STYLE}">
				<dt<!-- IF topicrow.TOPIC_ICON_IMG and S_TOPIC_ICONS --> style="background-image: url({T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}); background-repeat: no-repeat;"<!-- ENDIF --> title="{topicrow.TOPIC_FOLDER_IMG_ALT}">
					<!-- IF topicrow.S_UNREAD_TOPIC and not S_IS_BOT --><a href="{topicrow.U_NEWEST_POST}" class="row-item-link"></a><!-- ENDIF -->
					<div class="list-inner">
						<!-- EVENT topiclist_row_prepend -->
                        
                        
                        
						<!-- IF topicrow.TOPIC_TYPE -->
                        	<span class="topic_type<!-- IF topicrow.S_POST_STICKY --> topic_type_sticky<!-- ELSEIF topicrow.S_POST_ANNOUNCE || topicrow.S_POST_GLOBAL --> topic_type_announce<!-- ELSEIF topicrow.S_HAS_POLL --> topic_type_poll<!-- ELSEIF topicrow.S_TOPIC_LOCKED --> topic_type_locked<!-- ENDIF -->">
                            	<i class="icon fa-<!-- IF topicrow.S_POST_STICKY -->thumb-tack<!-- ELSEIF topicrow.S_POST_ANNOUNCE || topicrow.S_POST_GLOBAL -->bullhorn<!-- ELSEIF topicrow.S_HAS_POLL -->bar-chart<!-- ELSEIF topicrow.S_TOPIC_LOCKED -->lock<!-- ENDIF --> fa-fw"></i>                            	
                            </span>
                        <!-- ENDIF -->
						<!-- IF topicrow.S_TOPIC_DELETED -->
                        	<span class="topic_type topic_type_deleted">
                                <a href="{topicrow.U_MCP_QUEUE}" title="{L_TOPIC_DELETED}">
                                    <i class="icon fa-trash fa-fw" aria-hidden="true"></i>
                                </a>
                            </span>
						<!-- ENDIF -->
						<!-- IF topicrow.S_TOPIC_REPORTED -->
                        	<span class="topic_type topic_type_reported">
                                <a href="{topicrow.U_MCP_REPORT}" title="{L_TOPIC_REPORTED}">
                                    <i class="icon fa-exclamation-triangle fa-fw" aria-hidden="true"></i>
                                </a>
                            </span>
						<!-- ENDIF -->
						<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED -->
                        	<span class="topic_type topic_type_unapproved tooltip" title="{L_TOPIC_UNAPPROVED}">
                                <a href="{topicrow.U_MCP_QUEUE}" title="{L_TOPIC_UNAPPROVED}">
                                    <i class="icon fa-question-circle fa-fw" aria-hidden="true"></i>
                                </a>
                            </span>
						<!-- ENDIF -->                                                                      
						<!-- IF topicrow.S_UNREAD_TOPIC and not S_IS_BOT -->
							<a class="unread" href="{topicrow.U_NEWEST_POST}">
								<i class="icon fa-circle fa-fw icon-red icon-md" aria-hidden="true"></i>
							</a>
						<!-- ENDIF -->
                        
                        
                        
						<a href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a>
						<br />
						<!-- EVENT topiclist_row_topic_title_after -->

						<!-- IF not S_IS_BOT -->
						<div class="responsive-show" style="display: none;">
							{L_LAST_POST} {L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL} &laquo; <a href="{topicrow.U_LAST_POST}" title="{L_GOTO_LAST_POST}">{topicrow.LAST_POST_TIME}</a>
							<!-- IF topicrow.S_POST_GLOBAL and FORUM_ID != topicrow.FORUM_ID --><br />{L_POSTED} {L_IN} <a href="{topicrow.U_VIEW_FORUM}">{topicrow.FORUM_NAME}</a><!-- ENDIF -->
						</div>
						<!-- IF topicrow.REPLIES -->
							<span class="responsive-show" style="display: none;">{L_REPLIES}{L_COLON} <strong>{topicrow.REPLIES}</strong></span>
							<!-- ENDIF -->
						<!-- ENDIF -->

						<div class="topic-poster responsive-hide">
							<!-- IF topicrow.ATTACH_ICON_IMG --><i class="icon fa-paperclip fa-fw" aria-hidden="true"></i><!-- ENDIF -->
							{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR_FULL} <span class="clutter">&raquo; {topicrow.FIRST_POST_TIME}</span>
							<!-- IF topicrow.S_POST_GLOBAL and FORUM_ID != topicrow.FORUM_ID --> &raquo; {L_IN} <a href="{topicrow.U_VIEW_FORUM}">{topicrow.FORUM_NAME}</a><!-- ENDIF -->
						</div>

						<!-- IF .topicrow.pagination -->
						<div class="pagination">
							<span><i class="icon fa-clone fa-fw" aria-hidden="true"></i></span>
							<ul>
							<!-- BEGIN pagination -->
								<!-- IF topicrow.pagination.S_IS_PREV -->
								<!-- ELSEIF topicrow.pagination.S_IS_CURRENT --><li class="active"><span>{topicrow.pagination.PAGE_NUMBER}</span></li>
								<!-- ELSEIF topicrow.pagination.S_IS_ELLIPSIS --><li class="ellipsis"><span>{L_ELLIPSIS}</span></li>
								<!-- ELSEIF topicrow.pagination.S_IS_NEXT -->
								<!-- ELSE --><li><a class="button" href="{topicrow.pagination.PAGE_URL}">{topicrow.pagination.PAGE_NUMBER}</a></li>
								<!-- ENDIF -->
							<!-- END pagination -->
							</ul>
						</div>
						<!-- ENDIF -->

						<!-- EVENT topiclist_row_append -->
					</div>
				</dt>
				<dd class="posts">{topicrow.REPLIES} <dfn>{L_REPLIES}</dfn></dd>
				<dd class="views">{topicrow.VIEWS} <dfn>{L_VIEWS}</dfn></dd>
				<dd class="lastpost">
					<span><dfn>{L_LAST_POST} </dfn>{L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL}
						<!-- IF not S_IS_BOT -->
							<a href="{topicrow.U_LAST_POST}" title="{L_GOTO_LAST_POST}">
								<i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">{VIEW_LATEST_POST}</span>
							</a>
						<!-- ENDIF -->
						<br />{topicrow.LAST_POST_TIME}
					</span>
				</dd>
			</dl>
			<!-- EVENT viewforum_body_topic_row_append -->
		</li>
		<!-- EVENT viewforum_body_topic_row_after -->

	<!-- IF topicrow.S_LAST_ROW -->
			</ul>
		</div>
	</div>
	<!-- ENDIF -->

<!-- BEGINELSE -->
	<!-- IF S_IS_POSTABLE -->
	<div class="panel">
		<div class="inner">
		<strong>{L_NO_TOPICS}</strong>
		</div>
	</div>
	<!-- ENDIF -->
<!-- END topicrow -->

<!-- IF .topicrow and not S_DISPLAY_ACTIVE -->
	<div class="action-bar bar-bottom">
		<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
			<!-- EVENT viewforum_buttons_bottom_before -->

			<a href="{U_POST_NEW_TOPIC}" class="button specialbutton" title="<!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF -->">
			<!-- IF S_IS_LOCKED -->
				<span>{L_BUTTON_FORUM_LOCKED}</span> <i class="icon fa-lock fa-fw" aria-hidden="true"></i>
			<!-- ELSE -->
				<span>{L_BUTTON_NEW_TOPIC}</span> <i class="icon fa-pencil fa-fw" aria-hidden="true"></i>
			<!-- ENDIF -->
			</a>

			<!-- EVENT viewforum_buttons_bottom_after -->
		<!-- ENDIF -->
        
<!-- IF U_WATCH_FORUM_LINK and not S_IS_BOT -->
	<div class="dropdown-container dropdown-button-control topic-tools">
		<span title="{S_WATCH_FORUM_TITLE}" class="button button-secondary dropdown-trigger dropdown-select">
			<i class="icon fa-wrench fa-fw" aria-hidden="true"></i>
			<span class="caret"><i class="icon fa-sort-down fa-fw" aria-hidden="true"></i></span>
		</span>
		<div class="dropdown">
			<div class="pointer"><div class="pointer-inner"></div></div>
			<ul class="dropdown-contents">
					<li>
						<a href="{U_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}" data-ajax="toggle_link" data-toggle-class="icon <!-- IF S_WATCHING_FORUM -->fa-check-square-o<!-- ELSE -->fa-square-o<!-- ENDIF --> fa-fw" data-toggle-text="{S_WATCH_FORUM_TOGGLE}" data-toggle-url="{U_WATCH_FORUM_TOGGLE}">
					<i class="icon <!-- IF S_WATCHING_FORUM -->fa-square-o<!-- ELSE -->fa-check-square-o<!-- ENDIF --> fa-fw" aria-hidden="true"></i><span>{S_WATCH_FORUM_TITLE}</span>
				</a>
					</li>
			</ul>
		</div>
	</div>
<!-- ENDIF -->        

		<!-- IF S_SELECT_SORT_DAYS and not S_IS_BOT -->
			<form method="post" action="{S_FORUM_ACTION}">
			<!-- INCLUDE display_options.html -->
			</form>
		<!-- ENDIF -->

		<div class="pagination">
			<!-- IF not S_IS_BOT and U_MARK_TOPICS and .topicrow --><a href="{U_MARK_TOPICS}" data-ajax="mark_topics_read">{L_MARK_TOPICS_READ}</a> &bull; <!-- ENDIF -->
			{TOTAL_TOPICS}
			<!-- IF .pagination -->
				<!-- INCLUDE pagination.html -->
			<!-- ELSE -->
				 &bull; {PAGE_NUMBER}
			<!-- ENDIF -->
		</div>
	</div>
<!-- ENDIF -->

<!-- INCLUDE jumpbox.html -->


<div class="forumbg alt_block" id="clutter_collapse">
    <div class="inner">
        <ul class="topiclist">
            <li class="header">
                <dl class="row-item">
                    <dt><div class="list-inner">{L_INFORMATION}</div></dt>
                </dl>
            </li>
        </ul>
            <!-- IF STYLE_SETTINGS_CONFIG_COLLAPSIBLE_PANELS -->
                <div class="collapse-trigger open">
                    <span class="icon fa-minus tooltip-left" title="Collapse"></span>
                    <span class="icon fa-plus tooltip-left" title="Expand"></span>
                </div>
            <!-- ENDIF -->            
            <ul class="topiclist forums">        
        
            <!-- IF S_DISPLAY_ONLINE_LIST and U_VIEWONLINE -->
                <li class="row">
                    <div class="stat-block online-list">
                        <h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3>
                        <p>{LOGGED_IN_USER_LIST}</p>
                    </div>
                </li>
            <!-- ENDIF -->
            
            <!-- IF S_DISPLAY_POST_INFO -->
            	<li class="row">
                    <div class="stat-block permissions">
                        <h3>{L_FORUM_PERMISSIONS}</h3>
                        <p><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></p>
                    </div>
                </li>
            <!-- ENDIF -->

    	</ul>
    </div>
</div>


<!-- INCLUDE overall_footer.html -->
