/* proSilver Content Styles for MOD Thanks
---------------------------------------- */

dl.thanks {
	min-height: 35px;
	background-position: 10px 50%;		/* Position of folder icon */
	background-repeat: no-repeat;
}

dl.thanks dt {
	padding-left: 45px;					/* Space for folder icon */
	background-repeat: no-repeat;
	background-position: 5px 95%;		/* Position of topic icon */
	width: 45%;
}

dd.lastpostthanks {
	width: auto;
	font-size: 1.1em;
}
dd.lastpostthanks span {
	display: block;
	padding-left: 5px;
}
/* List in forum description */
dl.thanks dt ol,
dl.thanks dt ul {
	list-style-position: inside;
	margin-left: 1em;
}

dl.thanks dt li {
	display: list-item;
	list-style-type: inherit;
}
li.header dl.thanks {
	min-height: 0;
}

li.header dl.thanks dt {
	/* Tweak for headers alignment when folder icon used */
	padding-left: 0;
	padding-right: 50px;
}

/* Forum list column styles */
dl.thanks {
	min-height: 35px;
	background-position: 10px 50%;		/* Position of folder icon */
	background-repeat: no-repeat;
}

dl.thanks dt {
	padding-left: 45px;					/* Space for folder icon */
	background-repeat: no-repeat;
	background-position: 5px 95%;		/* Position of topic icon */
}

/* Icon images
---------------------------------------- */
.icon-thanks			{ background-image: url("./images/icon_thanks.gif"); background-repeat: no-repeat; }
.icon-thanks_toplist	{ background-image: url("./images/icon_thanks_toplist.gif"); background-repeat: no-repeat; }


/* Profile & navigation icons */
.thanks-icon:before
{
	background-position: -3px -1px;
	background-image: url("./images/icons_button_likes.png");
}
.thanks-icon:hover:before{ background-position: -3px -19px; }

.removethanks-icon:before
{
	background-position: -18px -2px;
    background-image: url("./images/icons_button_likes.png");

}
.removethanks-icon:hover:before	{background-position: -18px -20px; }

.thanks_reput_image_back
{
	background:  url(../../../images/rating/reput_star_back.gif);
	background-repeat: repeat-x;
}
.thanks_reput_image
{
	background:  url(../../../images/rating/reput_star_gold.gif);
	background-repeat: repeat-x;
}

