/*	phpBB3 Style Sheet
	--------------------------------------------------------------
	Style name:			pro-menu32
	Based on style:		prosilver (the default phpBB 3.2.x style)
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		phpBB Limited ( https://www.phpbb.com/ )
	--------------------------------------------------------------
*/

.phpbb-navbar {
	clear: both;
	margin-top: 1px;
	margin-bottom: 4px;
	background-color: #828d96;
	border-radius: 0 0 6px 6px;
	position: relative;
}
