/*  phpBB 3.0 Style Sheet
    --------------------------------------------------------------
   Style name:         mile200
   Based off style:   subsilver2
   Modified by:        Codemiles.com Community
   Copyright 2006 phpBB Group ( http://www.phpbb.com/ )
    --------------------------------------------------------------
*/

/* Layout
 ------------ */
* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	margin: 0; 	padding: 0;
	font: normal .70em/1.3em Verdana, Tahoma, sans-serif;
	color: #333333;
	background: #486CA1;
	text-align: center;	
	
}

#wrapheader {
	min-height: 120px;
	height: auto !important;
	height: 120px;
		
/*	background-image: url('./images/background.gif');
	background-repeat: repeat-x;*/
/*	padding: 0 25px 15px 25px;*/
	padding: 0;
}

#wrapcentre {
	margin: 15px 25px 0 25px;
	
}

#wrapfooter {
	text-align: center;
	color:#333333;
	 
	 
}

#wrapnav {
	width: 100%;
	margin: 0;
	 
	border-width: 1px;
	border-style: solid;
	 
}

#logodesc {
 
	padding: 6px 30px;
	background: #486CA1;
       margin-bottom:10px;
		/*background:  url(./images/header-bg.jpg) repeat-x 0% 100%;*/
	color:#333333;
}
p.justp {
	margin: 0;
	padding: 10px 15px;
}
#menubar { 

 
		background:url('./images/bar.png') repeat-x;
height:33px;
margin-top:4px;
font:Geneva, Arial, Helvetica, sans-serif;
font-size:medium;
color:#F2F2F2;
}
 

 
.fontcolor
{
color: #333333;
	 
 
	white-space: nowrap;
 
}
#datebar {
	margin: 10px 25px 0 25px;
}

#findbar {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

.forumrules {
	border: 1px solid #486CA1;	
	background-color: #EDF0F6;
	padding: 4px;
	color:#333333;
	font-weight: bold;
	font-size: 1.0em;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
 
	 
}

#pageheader { }
#pagecontent { }
#pagefooter { }

#poll { }
#postrow { }
#postdata { }


/*  Text
 --------------------- */
h1 {
 
	font: bold 1.6em 'Trebuchet MS', Arial, Sans-serif;
 
	text-decoration: none;
	color:#FFFFFF;
}

h2 {
	font: bold 1.4em 'Trebuchet MS', Arial, Sans-serif;
	text-decoration: none;
	line-height: 120%;
}

h3 {
  color:#000000;
	font: bold 1.3em 'Trebuchet MS', Arial, Sans-serif;
	line-height: 120%;
}

h4 {
font:   1.1em 'Trebuchet MS', Arial, Sans-serif;
 color:#FFFFFF;
}

p {
	 
 
}

p.moderators {
	margin: 0;
	float: left;
	color: black;
	font-weight: bold;
}

.rtl p.moderators {
	float: right;
}

p.linkmcp {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.linkmcp {
	float: left;
}

p.breadcrumbs {
	margin: 0;
	float: left;
	color: #666666;
	font-weight: bold;
	white-space: normal;
	font-size: 1em;
}

.rtl p.breadcrumbs {
	float: right;
}

p.datetime {
	margin: 0;
	float: right;
	white-space: nowrap;
	font-size: 1em;
}

.rtl p.datetime {
	float: left;
}

p.searchbar {
	padding: 2px 0;
	white-space: nowrap;
} 

p.searchbarreg {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.searchbarreg {
	float: left;
}

p.forumdesc {
	padding-bottom: 4px;
}

p.topicauthor {
	margin: 1px 0;
}

p.topicdetails {
	margin: 1px 0;
}

.postreported, .postreported a:visited, .postreported a:hover, .postreported a:link, .postreported a:active {
	margin: 1px 0;
	color: red;
	font-weight:bold;
}

.postapprove, .postapprove a:visited, .postapprove a:hover, .postapprove a:link, .postapprove a:active {
	color: green;
	font-weight:bold;
}

.postapprove img, .postreported img {
	vertical-align: bottom;
}

.postauthor {
	color: #333333;
}

.postdetails {
	color: #333333;
}

.postbody {
	font-size: 1.2em;
	line-height: 1.4em;
	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
}

.postbody li, ol, ul {
	margin: 0 0 0 1.5em;
}
ul, ol {
	margin: 10px 30px;
	padding: 0 15px;
	color: #333333;
}
.rtl .postbody li, .rtl ol, .rtl ul {
	margin: 0 1.5em 0 0;
}

.posthilit {
	background-color: yellow;
}

.nav {
	margin: 0;
	color: #333333;
	font-weight: bold;
}

.pagination {
	padding: 4px;
	color: #333333;
	font-size: 1em;
	font-weight: bold;
}

.cattitle {
color: #FFF;

}

.gen {
	margin: 1px 1px;
	font-size: 1.2em;
}

.genmed {
	margin: 1px 1px;
	 
}

.gensmall {
	margin: 1px 1px;
	font-size: 1em;
}

.copyright {
color: #FFFFFF;
	 
 
	font-weight: normal;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
.copyright a
{
 color:#CCCCCC;
}

.titles {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	text-decoration: none;
	color: #333333;
}

.error {
	color: red;
}


/* Tables
 ------------ */
th {
	color: #000000;
	font-size: 1.1em;
	font-weight: bold;
	background-color:#d4d9e0;
		    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d9e0', endColorstr='#8b919b');
    background:-moz-linear-gradient(50% 100% , #d4d9e0 20%, #8b919b 100%) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, 0 100%, 0 20%, from(#d4d9e0), to(#8b919b));
    border: solid 1px #d4d9e0;  
	white-space: nowrap;
	padding: 7px 5px;
}

td {

	padding: 2px;
}
td.uperimg2
{
 height:17px;
   margin: 0;
	padding: 0;
	border: 0;
	background-color:#FFFFFF;
}
td.uperimg
{
 height:18px;
   margin: 0;
	padding: 0;
	border: 0;
}
td.uperimgcat
{
   margin: 0;
	padding: 0;
	border: 0;
}
td.profile {
	padding: 4px;
}

.tablebg {
	background-color: #EDF0F6;
	 width:100%;
	 
     
	 
}

.catdiv {
color: #FFF;
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #2B4370;
	  	 
/*	background: white url('./images/cellpic2.jpg') repeat-y scroll top left;*/
}
.rtl .catdiv {
	/*background: white url('./images/cellpic2_rtl.jpg') repeat-y scroll top right;*/
}

.cat 
{
color: #FFFFFF;
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #486CA1;
	 
	text-indent: 4px;
		font-weight: bold;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1.1em;
}

.row1 {
	background-color: #EDF0F6;
	padding: 4px;
}
.row1h {
	background-color: #EDF0F6;
	padding: 4px;
}
.row1h:hover {
	background-color: #F1F0E1;
}
.row2 {
	background-color:#E1E6F1;
	padding: 4px;
}

.row3 {

	background-color: #C7D0E2;
	padding: 4px;
}

.rowgood {
	background-color: #2B4370;
	padding: 4px;
}

.rowneutral {
	background-color: #2B4370;
	padding: 4px;
}

.rowbad {
	background-color: #2B4370;
	padding: 4px;
}

.spacer {
	background-color: #486CA1;
}

hr {
	height: 1px;
	border-width: 0;
	background-color: #2B4370;
	color: #FFF;
}

.legend {
	text-align:center;
	margin: 0 auto;
}

/* Links
 ------------ */
 /* Links adjustment to correctly display an order of rtl/ltr mixed content */
.rtl a {
	direction: rtl;
	unicode-bidi: embed;
}

a:link {
 color: #000000;
	text-decoration: none;
}
.cat a
{
 color:#FFFFFF;
}
.cat a:active,
.cat a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
.cat a:hover
{
 color:#FF9900;
}

a:active,
a:visited {
	color: #333333;
	text-decoration: none;
}

a:hover {
	color: #FF9900;
	text-decoration: underline;
}

a.forumlink {
	color: #333333;
	font-weight: bold;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
}
a.forumlink:hover{
	color: #FF9900;
	font-weight: bold;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
}


a.topictitle {
	margin: 1px 0;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
}

a.topictitle:visited {
margin: 1px 0;
	color: #2B4370;
	text-decoration: none;
}
a.topictitle:hover {
margin: 1px 0;
	color: #FF9900;
	text-decoration: underline;
}

th a,
th a:visited {
	color: #FFFFFF !important;
	text-decoration: none;
}

th a:hover {
color: #FF9900
	text-decoration: underline;
}


/*  Elements
 ------------ */
form {
	margin: 0;
	padding: 0;
	border: 0;
}

input {
	color:#486CA1 ;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: normal;
	padding: 1px;
	border: 1px solid #2B4370;
	background-color: #FAFAFA;
}

textarea {
	background-color: #FAFAFA;
	color: #2B4370;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.3em; 
	line-height: 1.4em;
	font-weight: normal;
	border: 1px solid #2B4370;
	padding: 2px;
}

select {
	color: #2B4370;
	background-color: #FAFAFA;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: normal;
	border: 1px solid #2B4370;
	padding: 1px;
}

option {
	padding: 0 1em 0 0;
}

.rtl option {
	padding: 0 0 0 1em;
}

input.radio {
	border: none;
	background-color: transparent;
}

.post {
	background-color: white;
	border-style: solid;
	border-width: 1px;
}
a.postlink
{
 color:#0000CC;
}

.btnbbcode {
	color: #CCCCCC;
	font-weight: normal;
	font-size: 1.1em;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	background-color: #2B4370;
	border: 1px solid #0A1646;
}

.btnmain {
	font-weight: bold;
	background-color: #ECECEC;
	border: 1px solid #2B4370;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.0em;
	 
}

.btnlite {
	font-weight: normal;
	background-color: #ECECEC;
	border: 1px solid #2B4370;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnfile {
	font-weight: normal;
	background-color: #ECECEC;
	border: 1px solid #2B4370;
	padding: 1px 5px;
	font-size: 1.1em;
}

.helpline {
	background-color: #DEE3E7;
	border-style: none;
}


/* BBCode
 ------------ */
 .attachtitle {
 
	padding: 2px 4px;
	 
	color: #FFFFFF;
	 background-color: #486CA1;
	font: bold 1.1em/1.5em 'Trebuchet MS', Sans-serif;   
	font-size: 1em;
}

.quotetitle  {
 
	padding: 2px 4px;
	 
	color: #FFFFFF;
	 background-color: #486CA1 ;
	font: bold 1.1em/1.5em 'Trebuchet MS', Sans-serif;   
	font-size: 1em;
}

.quotetitle .quotetitle {
	font-size: 1em;
}

.quotecontent{
	 
 	padding: 2px 4px;	
	padding-left:32px;
  	background: #CCCCCC url(./images/quote.gif) no-repeat 2px 2px;	
	 
	font:  1.0em/1.5em 'Trebuchet MS', Sans-serif;   
}

.attachcontent {
padding: 2px 4px;	
	padding-left:32px;
  	background: #CCCCCC  no-repeat 2px 2px;	
	
	font:  1.0em/1.5em 'Trebuchet MS', Sans-serif;   
	font-size: 0.85em;
}

.codetitle {
	margin: 10px 5px 0 5px;
	padding: 2px 4px;
	 border-left:3px solid #4A5788;
	color: #FFFFFF;
	 background-color: #486CA1 ;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 0.8em;
}

.codecontent {
	direction: ltr;
	margin: 0 5px 10px 5px;
	padding: 5px;
 
		 border-left:3px solid #2B4370;
      
	  color:#333333;
	   text-align: left;
  display: block;
  overflow: auto; 
	  font-size: 0.6em;
	 font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
	background-color: #CCCCCC;
}

.syntaxbg {
	color: #333333;
}

.syntaxcomment {
	color: #333333;
}

.syntaxdefault {
	color: #333333;
}

.syntaxhtml {
	color: #333333;
}

.syntaxkeyword {
	color: #333333;
}

.syntaxstring {
	color: #333333;
}


/* Private messages
 ------------------ */
.pm_marked_colour {
	background-color: #999999;
}

.pm_replied_colour {
	background-color: #A9B8C2;
}

.pm_friend_colour {
	background-color: #007700;
}

.pm_foe_colour {
	background-color: #DD0000;
}


/* Misc
 ------------ */
img {
	border: none;
}

.sep {
	color: #333333;
	background-color: #FFA34F;
}

table.colortable td {
	padding: 0;
}

pre {
	font-size: 1.1em;
	font-family: Monaco, 'Courier New', monospace;
}

.nowrap {
	white-space: nowrap;
}

.username-coloured {
	font-weight: bold;
}

/* Addition from here by MSI 
    msi_333@yahoo.com 
*
* 
*
**/
#header ul {
	position: absolute;
	top: 20px; right: 20px;
	margin:0; padding: 0;
    list-style:none;
	font: bold 1.3em  'Trebuchet MS', Tahoma, verdana,  sans-serif;	
	height: 2.3em;
}
#header li {
   display:inline;
   margin:0; padding:0;
}
#header a {
	float: left;
    margin:0;
    padding:4px 10px 3px 10px;
    text-decoration:none;	
	color: #CCC;
}
#header a:hover {
	border-top: 5px solid #CCC;	
	color:#FF9900;
}
#header #current a {
    color: #FFF;
	border-top: 5px solid #FFF;
}
#header #selected a {
    color: #FFF;
	border-top: 5px solid #FFF;
}
#menumade  {
 	 
	margin:0px; padding: 2;
    list-style: none;
	font: bold 1.1em  'Trebuchet MS', Tahoma, verdana,  sans-serif;	
	height:33px;
	 
}
#menumade 
{
}
 
#menumade li {
   display:inline;
   
 
}

#menumade li a.top_link {
	display:inline;
	float: left;
	height:33px;
	line-height:31px;
	color:#FFF;
	text-decoration:none;
	font-size:12px;
	font-weight:bold;
	padding:0 0 0 10px;
	cursor:pointer;
}
#menumade :hover ul.sub {
	left:1px;
	top:34px;
	/* background: url('./images/vistamenu_ddbg.png') no-repeat; */
	background-color: #0D2552;
	padding:3px;
	border: 1px solid #FFF;
	white-space:nowrap;
	width:185px;
	height:auto;
	z-index:300;
	font-weight:bold;
}
#menumade li.top {
	display:block;
	float: left;
}
#menumade li a.top_link span.down {
	float: left;
	display:block;
	padding:0 24px 0 12px;
	height:33px;
	background: url('./images/arrowoverlink.png') no-repeat right top;
}
#menumade li:hover a.top_link span.down,
#menumade a.top_link:hover span.down {
	background: url('./images/arrowoverlink.png') no-repeat right top;
	padding-bottom:3px;
}

#menumade :hover ul.sub li {
	display:block;
	height:20px;
	position:relative;
	float:left;
	width:185px;
	font-weight:bold;
}

#menumade :hover ul.sub li a {
	display:block;
	font-size:11px;
	height:18px;
	width:183px;
	line-height:18px;
	text-indent:5px;
	color:#DEAE09;
	text-decoration:none;
	font-weight:bold;
}
#menumade li a.top_link span.down {
	float: left;
	display:block;
	padding:0 24px 0 12px;
	height:33px;
	background: url('./images/arrowlink.png') no-repeat right top;
}
#menumade li a.top_link span {
	float: left;
	display:inline;
	padding:0 24px 0 12px;
	height:33px;
	/* background: url('./images/vistamenu_bg.gif') right top no-repeat; */
}
#menumade li:hover a.top_link,
#menumade a.top_link:hover {
	color:#FFF;
	background: url('./images/overlink.png') no-repeat;
}

#menumade li:hover a.top_link span, 
#menumade a.top_link:hover span {
	background: url('./images/overlink.png') no-repeat right top;
} 
 #menumade li:hover a.top_link span.down,
#menumade a.top_link:hover span.down {
	background: url('./images/arrowoverlink.png') no-repeat right top;
	padding-bottom:3px;
}

#menumade table {
	border-collapse:collapse;
	padding:0;
	margin:0;
	position:absolute;
	left:0;
	top:0;
}

#menumade li:hover {
	position:relative;
	z-index:200;
}

#menumade a:hover {
	position:relative;
	white-space:normal;
	z-index:200;
}

#menumade :hover ul.sub {
	left:1px;
	top:34px;
	/* background: url('./images/vistamenu_ddbg.png') no-repeat; */
	background-color: #073880;
	padding:3px;
	border: 1px solid #FFF;
	white-space:nowrap;
	width:185px;
	height:auto;
	z-index:300;
	font-weight:bold;
}

#menumade :hover ul.sub li {
	display:block;
	height:20px;
	position:relative;
	float:left;
	width:185px;
	color:#DEAE09;
	font-weight:bold;
}

#menumade :hover ul.sub li a {
	display:block;
	font-size:11px;
	height:18px;
	width:183px;
	line-height:18px;
	text-indent:5px;
	color:#DEAE09;
	text-decoration:none;
	font-weight:bold;
}

#menumade li ul.sub li a.fly {
	background: url('./images/arrow_over.gif') 175px 6px no-repeat;
}

#menumade :hover ul.sub li a:hover {
	color:#3365ac;
	background-color: #FFF;
	border-color:#FFF;
	font-weight:bold;
}

#menumade :hover ul.sub li a.fly:hover {
	background: #FFF url('./images/arrow.gif') 175px 6px no-repeat;
	color:#3365ac;
}

#menumade li b {
	display:block;
	font-size:11px;
	height:18px;
	width:183px;
	line-height:18px;
	margin-bottom:3px;
	text-indent:6px;
	color:#FFF;
	border-bottom:1px solid #B5BBCF;
	cursor:default;
}

#menumade a:hover a:hover ul,
#menumade a:hover a:hover a:hover ul,
#menumade a:hover a:hover a:hover a:hover ul,
#menumade a:hover a:hover a:hover a:hover a:hover ul {
	left:89px;
	top:-4px;
	padding:3px;
	border:1px solid #000;
	white-space:nowrap;
	width:183px;
	z-index:400;
	height:auto;
}

#menumade ul, 
#menumade a:hover ul ul,
#menumade a:hover a:hover ul ul,
#menumade a:hover a:hover a:hover ul ul,
#menumade a:hover a:hover a:hover a:hover ul ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	width:0;
	height:0;
	margin:0;
	padding:0;
	list-style:none;
}

#menumade li:hover li:hover > ul {
	left: 183px; /* distance from right margin of main drop */
	top: -4px;
	/* background: url('./images/vistamenu_ddbg.png') no-repeat; */
	background-color: #000;
	padding: 3px;
	border: 1px solid #FFF;
	white-space: nowrap;
	width: 185px; /* width of secondary drop */
	z-index: 400;
	height: auto;
}

#menumade li:hover > ul ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	width:0;
	height:0;
	margin:0;
	padding:0;
	list-style:none;
}

#menumade li:hover li:hover > a.fly {
	background: #FFF url('./images/arrow.gif') 175px 6px no-repeat; 
	color:#3365ac;
	font-weight: bold;
	text-decoration:none;
} 

#menumade li:hover li:hover > li a.fly {
	background: #FFF url('./images/arrow.gif') 175px 6px no-repeat;
	color:#3365ac;
	font-weight: bold;
	text-decoration:none;
} 

#main {
			
	padding:0px;
	  border-width:0px 1px 0px 1px;
	 border-color:#D6D6D6;
	 border-style:solid;
	clear:none;
	
}
#main .box {
	margin-left: 0;
}
#Footerbar
{
   margin-top:40px;
   margin-bottom:20px;
}

 
#content-wrap {
	 
	margin: 0; padding: 0;			
}
#wrap {
	background: #FFFFFF ; 
 
	margin: 25px 25px 25px 25px;	
	text-align: left;		
   
}	
#uphead
{
margin-bottom:0px;padding:0px;
height:18px;
background:#486CA1;
}
.top-left, .top-right, .bottom-left, .bottom-right {
    height: 18px;
	weidth: 18px;
    font-size: 2px;
}

.top-left {
	background-image: url("./images/corner1.png"); background-repeat:no-repeat;
 
    margin-left: 0px;
    margin-top: 0px;
    
}
.top-right {
    background-image: url("./images/glacier_borders_tc.png"); background-repeat:no-repeat;
    background-position: 100% 0;
    margin-left: 0px;
    margin-top: -9px;
    margin-right: 0px; 
}

.top-center {
    background-image: url("./images/longbar1.png");
   
     
     
}

.bottom-left  {
	background-image: url("./images/glacier_borders_bc.png"); background-repeat:no-repeat;
    background-position: 0 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
}

.bottom-right {
    background-image: url("./images/glacier_borders_bc.png"); background-repeat:no-repeat;
   background-position: 100% -20px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: -20px;
}

.bottom-center {
    background-image: url("./images/glacier_borders_09.png");
    background-position: 0 0px;
    height: 20px;
    weidth: 20px;
    font-size: 2px;
    margin-left: 20px;
    margin-top: -20px;
    margin-right: 20px;
    margin-bottom: -20px;
}

.inside {
    border-left: 0px solid #000000;
    border-right: 0px solid #000000;
    color: #000000;
    padding-left: 0px;
    padding-right: 0px;
    background-image: url("./images/glacier_borders_06.png");
}
span.righticon
{
	background-image:url("./images/cellpic4_r.gif"); 
	width:16;
	height:28;
}
#forumsimages
{
width:430px;
background-color:#EDF0F6;
}
.tbl-h-c {
	background: url('./images/cellpic4_m.gif') bottom left repeat-x;
	height: 27px;
	font-weight: bold;
	font-size: 1.3em;
	text-align: center;
	vertical-align: middle;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
}

.tbl-h-l {
	background: url('./images/cellpic4_l.gif') bottom left no-repeat;
	padding-left: 17px;
}

.tbl-h-r {
	background: url('./images/cellpic4_r.gif') bottom right no-repeat;
	padding-right: 16px;
}

.tbl-f-c {
	background: url('./images/footerm.gif') bottom left repeat-x;
	height: 10px;
    padding:0;
	margin: 0;
	white-space: nowrap;
 
		background-color: #EDF0F6;
}

.tbl-f-l {
     
	background: url('./images/footerL.gif') bottom left no-repeat;
	padding-left: 9px;
}

.tbl-f-r {
	background: url('./images/footerR.gif') bottom right no-repeat;
	padding-right: 9px;
}
.tbl-title {
    padding-top:3px;
    padding-left:2px;
	color: #FFFFFF;
	  font:   0.9em  'Trebuchet MS', Tahoma, verdana,  sans-serif;	
	 float:left;
}
.tbl-title a{
   color:#FFFFFF;
   font:   0.9em  'Trebuchet MS', Tahoma, verdana,  sans-serif;	
}
input:hover

{
  background-color: #FAFAD6;
    
}
textarea:hover, select:hover {
	  background-color: #FAFAD6;
	 
	 
}
input:focus, textarea:focus, select:focus {
	 
	background-color: #FAFAD6;
	border: solid 1px #FF9933;
}
.btnbbcode:hover
{
 background-color: #003399;
 cursor:pointer;
}