{% if HEADERLINK_ACTIVE_1 or HEADERLINK_ACTIVE_2 or HEADERLINK_ACTIVE_3 or HEADERLINK_ACTIVE_4 or HEADERLINK_ACTIVE_5 or HEADERLINK_ACTIVE_6 or HEADERLINK_ACTIVE_7 or HEADERLINK_ACTIVE_8 %}
<div class="nav-button but-menu"><a href="#" id="phpbb-menu-toggle" title="{{ lang('HEADERLINK_MENU_HOVER') }}">{{ lang('HEADERLINK_MENU') }}</a></div>
{% endif %}
<ul id="phpbb-menu" class="phpbb-menu">
	{% if (HEADERLINK_ACTIVE_1 eq '1' and not S_USER_LOGGED_IN) or (HEADERLINK_ACTIVE_1 eq '2' and S_USER_LOGGED_IN) or (HEADERLINK_ACTIVE_1 eq '4' and U_ACP) or (HEADERLINK_ACTIVE_1 eq '5' and U_MCP) or HEADERLINK_ACTIVE_1 eq '3'%}
	<li class="nav-button" style="background-color:{{ HEADERLINK_COLOUR_1 }}">
		<a href="{{ HEADERLINK_URL_1 }}" title="{{ HEADERLINK_HOVER_1 }}" target="{{ HEADERLINK_TARGET_1 }}">
		<i class="{{ HEADERLINK_ICON_1 }} fa-fw"></i>
		<span>{{ HEADERLINK_NAME_1 }}</span>
		</a>
	</li>
	{% endif %}
	{% if (HEADERLINK_ACTIVE_2 eq '1' and not S_USER_LOGGED_IN) or (HEADERLINK_ACTIVE_2 eq '2' and S_USER_LOGGED_IN) or (HEADERLINK_ACTIVE_2 eq '4' and U_ACP) or (HEADERLINK_ACTIVE_2 eq '5' and U_MCP) or HEADERLINK_ACTIVE_2 eq '3'%}
	<li class="nav-button" style="background-color:{{ HEADERLINK_COLOUR_2 }}">
		<a href="{{ HEADERLINK_URL_2 }}" title="{{ HEADERLINK_HOVER_2 }}" target="{{ HEADERLINK_TARGET_2 }}">
		<i class="{{ HEADERLINK_ICON_2 }} fa-fw"></i>
		<span>{{ HEADERLINK_NAME_2 }}</span>
		</a>
	</li>
	{% endif %}
	{% if (HEADERLINK_ACTIVE_3 eq '1' and not S_USER_LOGGED_IN) or (HEADERLINK_ACTIVE_3 eq '2' and S_USER_LOGGED_IN) or (HEADERLINK_ACTIVE_3 eq '4' and U_ACP) or (HEADERLINK_ACTIVE_3 eq '5' and U_MCP) or HEADERLINK_ACTIVE_3 eq '3'%}
	<li class="nav-button" style="background-color:{{ HEADERLINK_COLOUR_3 }}">
		<a href="{{ HEADERLINK_URL_3 }}" title="{{ HEADERLINK_HOVER_3 }}" target="{{ HEADERLINK_TARGET_3 }}">
		<i class="{{ HEADERLINK_ICON_3 }} fa-fw"></i>
		<span>{{ HEADERLINK_NAME_3 }}</span>
		</a>
	</li>
	{% endif %}
	{% if (HEADERLINK_ACTIVE_4 eq '1' and not S_USER_LOGGED_IN) or (HEADERLINK_ACTIVE_4 eq '2' and S_USER_LOGGED_IN) or (HEADERLINK_ACTIVE_4 eq '4' and U_ACP) or (HEADERLINK_ACTIVE_4 eq '5' and U_MCP) or HEADERLINK_ACTIVE_4 eq '3'%}
	<li class="nav-button" style="background-color:{{ HEADERLINK_COLOUR_4 }}">
		<a href="{{ HEADERLINK_URL_4 }}" title="{{ HEADERLINK_HOVER_4 }}" target="{{ HEADERLINK_TARGET_4 }}">
		<i class="{{ HEADERLINK_ICON_4 }} fa-fw"></i>
		<span>{{ HEADERLINK_NAME_4 }}</span>
		</a>
	</li>
	{% endif %}
	{% if (HEADERLINK_ACTIVE_5 eq '1' and not S_USER_LOGGED_IN) or (HEADERLINK_ACTIVE_5 eq '2' and S_USER_LOGGED_IN) or (HEADERLINK_ACTIVE_5 eq '4' and U_ACP) or (HEADERLINK_ACTIVE_5 eq '5' and U_MCP) or HEADERLINK_ACTIVE_5 eq '3'%}
	<li class="nav-button" style="background-color:{{ HEADERLINK_COLOUR_5 }}">
		<a href="{{ HEADERLINK_URL_5 }}" title="{{ HEADERLINK_HOVER_5 }}" target="{{ HEADERLINK_TARGET_5 }}">
		<i class="{{ HEADERLINK_ICON_5 }} fa-fw"></i>
		<span>{{ HEADERLINK_NAME_5 }}</span>
		</a>
	</li>
	{% endif %}
	{% if (HEADERLINK_ACTIVE_6 eq '1' and not S_USER_LOGGED_IN) or (HEADERLINK_ACTIVE_6 eq '2' and S_USER_LOGGED_IN) or (HEADERLINK_ACTIVE_6 eq '4' and U_ACP) or (HEADERLINK_ACTIVE_6 eq '5' and U_MCP) or HEADERLINK_ACTIVE_6 eq '3'%}
	<li class="nav-button" style="background-color:{{ HEADERLINK_COLOUR_6 }}">
		<a href="{{ HEADERLINK_URL_6 }}" title="{{ HEADERLINK_HOVER_6 }}" target="{{ HEADERLINK_TARGET_6 }}">
		<i class="{{ HEADERLINK_ICON_6 }} fa-fw"></i>
		<span>{{ HEADERLINK_NAME_6 }}</span>
		</a>
	</li>
	{% endif %}
	{% if (HEADERLINK_ACTIVE_7 eq '1' and not S_USER_LOGGED_IN) or (HEADERLINK_ACTIVE_7 eq '2' and S_USER_LOGGED_IN) or (HEADERLINK_ACTIVE_7 eq '4' and U_ACP) or (HEADERLINK_ACTIVE_7 eq '5' and U_MCP) or HEADERLINK_ACTIVE_7 eq '3'%}
	<li class="nav-button" style="background-color:{{ HEADERLINK_COLOUR_7 }}">
		<a href="{{ HEADERLINK_URL_7 }}" title="{{ HEADERLINK_HOVER_7 }}" target="{{ HEADERLINK_TARGET_7 }}">
		<i class="{{ HEADERLINK_ICON_7 }} fa-fw"></i>
		<span>{{ HEADERLINK_NAME_7 }}</span>
		</a>
	</li>
	{% endif %}
	{% if (HEADERLINK_ACTIVE_8 eq '1' and not S_USER_LOGGED_IN) or (HEADERLINK_ACTIVE_8 eq '2' and S_USER_LOGGED_IN) or (HEADERLINK_ACTIVE_8 eq '4' and U_ACP) or (HEADERLINK_ACTIVE_8 eq '5' and U_MCP) or HEADERLINK_ACTIVE_8 eq '3'%}
	<li class="nav-button" style="background-color:{{ HEADERLINK_COLOUR_8 }}">
		<a href="{{ HEADERLINK_URL_8 }}" title="{{ HEADERLINK_HOVER_8 }}" target="{{ HEADERLINK_TARGET_8 }}">
		<i class="{{ HEADERLINK_ICON_8 }} fa-fw"></i>
		<span>{{ HEADERLINK_NAME_8 }}</span>
		</a>
	</li>
	{% endif %}
</ul>

