{% INCLUDEJS '@hifikabin_headerlink/jscolor.js' %}
{% INCLUDE 'overall_header.html' %}
<h1>{{ lang('ACP_HEADERLINK_CONFIG') }}</h1>
<p>{{ lang('ACP_HEADERLINK_CONFIG_EXPLAIN') }}</p>
<label>{{ lang('ACP_HEADERLINK_INFO') }}</label><br style="margin-bottom:8px;"/>
<label>{{ lang('ACP_HEADERLINK_INT_URL') }}</label><br style="margin-bottom:8px;"/>
<label>{{ lang('ACP_HEADERLINK_EXT_URL') }}</label><br style="margin-bottom:8px;"/>
<label>{{ lang('ACP_HEADERLINK_ICON') }}</label>&nbsp;<a href="http://fontawesome.io/icons/" target="_blank">http://fontawesome.io/icons/</a>
<form id="acp_headerlink_config" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<dl>
			<dt>
				<label for="headerlink_enable">{{ lang('HEADERLINK_ENABLE') }}{{ lang('COLON') }}</label><br><span>{{ lang('HEADERLINK_ENABLE_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="headerlink_enable" value="1"{% if HEADERLINK_ENABLE %} id="headerlink_enable" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="headerlink_enable" value="0"{% if not HEADERLINK_ENABLE %} id="headerlink_enable" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="headerlink_responsive">{{ lang('HEADERLINK_RESPONSIVE') }}{{ lang('COLON') }}</label><br><span>{{ lang('HEADERLINK_RESPONSIVE_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="headerlink_responsive" value="1"{% if HEADERLINK_RESPONSIVE %} id="headerlink_responsive" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="headerlink_responsive" value="0"{% if not HEADERLINK_RESPONSIVE %} id="headerlink_responsive" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="headerlink_navbar">{{ lang('HEADERLINK_NAVBAR') }}{{ lang('COLON') }}</label><br><span>{{ lang('HEADERLINK_NAVBAR_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="headerlink_navbar" value="1"{% if HEADERLINK_NAVBAR %} id="headerlink_navbar" checked="checked"{% endif %} /> {{ lang('HEADERLINK_SWITCH_HEADER') }}</label>
				<label><input type="radio" class="radio" name="headerlink_navbar" value="0"{% if not HEADERLINK_NAVBAR %} id="headerlink_navbar" checked="checked"{% endif %} /> {{ lang('HEADERLINK_SWITCH_NAVBAR') }}</label>
			</dd>
		</dl>
		<legend>{{ lang('ACP_HEADERLINK_LINK_1') }}</legend>
		<dl>
			<dt>
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_url_1" type="text" id="headerlink_url_1" value="{{ HEADERLINK_URL_1 }}" placeholder="{{ lang('ACP_HEADERLINK_URL_PLACEHOLDER') }}" maxlength="255" />
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_name_1" type="text" id="headerlink_name_1" value="{{ HEADERLINK_NAME_1 }}" placeholder="{{ lang('ACP_HEADERLINK_NAME_PLACEHOLDER') }}" maxlength="255" />
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_hover_1" type="text" id="headerlink_hover_1" value="{{ HEADERLINK_HOVER_1 }}" placeholder="{{ lang('ACP_HEADERLINK_HOVER_PLACEHOLDER') }}" maxlength="255" />
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_icon_1" type="text" id="headerlink_icon_1" value="{{ HEADERLINK_ICON_1 }}" placeholder="{{ lang('ACP_HEADERLINK_ICON_PLACEHOLDER') }}" maxlength="255" />
			</dt>
			<dd>
				<select style="margin-bottom:8px;" name="headerlink_active_1" id="headerlink_active_1">
				<option value="0"{% if HEADERLINK_ACTIVE_1 eq '0' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_DISABLE') }}</option>
				<option value="1"{% if HEADERLINK_ACTIVE_1 eq '1' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_GUEST') }}</option>
				<option value="2"{% if HEADERLINK_ACTIVE_1 eq '2' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_MEMBER') }}</option>
				<option value="3"{% if HEADERLINK_ACTIVE_1 eq '3' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_ACTIVE') }}</option>
				<option value="4"{% if HEADERLINK_ACTIVE_1 eq '4' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_ADMIN') }}</option>
				<option value="5"{% if HEADERLINK_ACTIVE_1 eq '5' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_MOD') }}</option>
				</select><br>
				<label>{{ lang('ACP_HEADERLINK_TARGET') }}</label><label><input type="radio" class="radio" name="headerlink_target_1" value="1"{% if HEADERLINK_TARGET_1 %} id="headerlink_target_1" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="headerlink_target_1" value="0"{% if not HEADERLINK_TARGET_1 %} id="headerlink_target_1" checked="checked"{% endif %} /> {{ lang('NO') }}</label><br style="margin-bottom:8px;">
				<input class="jscolor {hash:true}" name="headerlink_colour_1" type="text" id="headerlink_colour_1" value="{{ HEADERLINK_COLOUR_1 }}" size="8" maxlength="8" />&nbsp;{{ lang('ACP_HEADERLINK_COLOUR') }}
			</dd>
		</dl>
		<hr>
		<legend>{{ lang('ACP_HEADERLINK_LINK_2') }}</legend>
		<dl>
			<dt>
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_url_2" type="text" id="headerlink_url_2" value="{{ HEADERLINK_URL_2 }}" placeholder="{{ lang('ACP_HEADERLINK_URL_PLACEHOLDER') }}" maxlength="255" />
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_name_2" type="text" id="headerlink_name_2" value="{{ HEADERLINK_NAME_2 }}" placeholder="{{ lang('ACP_HEADERLINK_NAME_PLACEHOLDER') }}" maxlength="255" />
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_hover_2" type="text" id="headerlink_hover_2" value="{{ HEADERLINK_HOVER_2 }}" placeholder="{{ lang('ACP_HEADERLINK_HOVER_PLACEHOLDER') }}" maxlength="255" />
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_icon_2" type="text" id="headerlink_icon_2" value="{{ HEADERLINK_ICON_2 }}" placeholder="{{ lang('ACP_HEADERLINK_ICON_PLACEHOLDER') }}" maxlength="255" />
			</dt>
			<dd>
				<select style="margin-bottom:8px;"name="headerlink_active_2" id="headerlink_active_2">
				<option value="0"{% if HEADERLINK_ACTIVE_2 eq '0' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_DISABLE') }}</option>
				<option value="1"{% if HEADERLINK_ACTIVE_2 eq '1' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_GUEST') }}</option>
				<option value="2"{% if HEADERLINK_ACTIVE_2 eq '2' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_MEMBER') }}</option>
				<option value="3"{% if HEADERLINK_ACTIVE_2 eq '3' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_ACTIVE') }}</option>
				<option value="4"{% if HEADERLINK_ACTIVE_2 eq '4' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_ADMIN') }}</option>
				<option value="5"{% if HEADERLINK_ACTIVE_2 eq '5' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_MOD') }}</option>
				</select><br>
				<label>{{ lang('ACP_HEADERLINK_TARGET') }}</label><label><input type="radio" class="radio" name="headerlink_target_2" value="1"{% if HEADERLINK_TARGET_2 %} id="headerlink_target_2" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="headerlink_target_2" value="0"{% if not HEADERLINK_TARGET_2 %} id="headerlink_target_2" checked="checked"{% endif %} /> {{ lang('NO') }}</label> <br style="margin-bottom:8px;">
				<input class="jscolor {hash:true}" name="headerlink_colour_2" type="text" id="headerlink_colour_2" value="{{ HEADERLINK_COLOUR_2 }}" size="8" maxlength="8" />&nbsp;{{ lang('ACP_HEADERLINK_COLOUR') }}
			</dd>
		</dl>
		<hr>
		<legend>{{ lang('ACP_HEADERLINK_LINK_3') }}</legend>
		<dl>
			<dt>
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_url_3" type="text" id="headerlink_url_3" value="{{ HEADERLINK_URL_3 }}" placeholder="{{ lang('ACP_HEADERLINK_URL_PLACEHOLDER') }}" maxlength="255" />
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_name_3" type="text" id="headerlink_name_3" value="{{ HEADERLINK_NAME_3 }}" placeholder="{{ lang('ACP_HEADERLINK_NAME_PLACEHOLDER') }}" maxlength="255" />
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_hover_3" type="text" id="headerlink_hover_3" value="{{ HEADERLINK_HOVER_3 }}" placeholder="{{ lang('ACP_HEADERLINK_HOVER_PLACEHOLDER') }}" maxlength="255" />
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_icon_3" type="text" id="headerlink_icon_3" value="{{ HEADERLINK_ICON_3 }}" placeholder="{{ lang('ACP_HEADERLINK_ICON_PLACEHOLDER') }}" maxlength="255" />
			</dt>
			<dd>
				<select style="margin-bottom:8px;"name="headerlink_active_3" id="headerlink_active_3">
				<option value="0"{% if HEADERLINK_ACTIVE_3 eq '0' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_DISABLE') }}</option>
				<option value="1"{% if HEADERLINK_ACTIVE_3 eq '1' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_GUEST') }}</option>
				<option value="2"{% if HEADERLINK_ACTIVE_3 eq '2' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_MEMBER') }}</option>
				<option value="3"{% if HEADERLINK_ACTIVE_3 eq '3' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_ACTIVE') }}</option>
				<option value="4"{% if HEADERLINK_ACTIVE_3 eq '4' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_ADMIN') }}</option>
				<option value="5"{% if HEADERLINK_ACTIVE_3 eq '5' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_MOD') }}</option>
				</select><br>
				<label>{{ lang('ACP_HEADERLINK_TARGET') }}</label><label><input type="radio" class="radio" name="headerlink_target_3" value="1"{% if HEADERLINK_TARGET_3 %} id="headerlink_target_3" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="headerlink_target_3" value="0"{% if not HEADERLINK_TARGET_3 %} id="headerlink_target_3" checked="checked"{% endif %} /> {{ lang('NO') }}</label> <br style="margin-bottom:8px;">
				<input class="jscolor {hash:true}" name="headerlink_colour_3" type="text" id="headerlink_colour_3" value="{{ HEADERLINK_COLOUR_3 }}" size="8" maxlength="8" />&nbsp;{{ lang('ACP_HEADERLINK_COLOUR') }}
			</dd>
		</dl>
		<hr>
		<legend>{{ lang('ACP_HEADERLINK_LINK_4') }}</legend>
		<dl>
			<dt>
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_url_4" type="text" id="headerlink_url_4" value="{{ HEADERLINK_URL_4 }}" placeholder="{{ lang('ACP_HEADERLINK_URL_PLACEHOLDER') }}" maxlength="255" />
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_name_4" type="text" id="headerlink_name_4" value="{{ HEADERLINK_NAME_4 }}" placeholder="{{ lang('ACP_HEADERLINK_NAME_PLACEHOLDER') }}" maxlength="255" />
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_hover_4" type="text" id="headerlink_hover_4" value="{{ HEADERLINK_HOVER_4 }}" placeholder="{{ lang('ACP_HEADERLINK_HOVER_PLACEHOLDER') }}" maxlength="255" />
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_icon_4" type="text" id="headerlink_icon_4" value="{{ HEADERLINK_ICON_4 }}" placeholder="{{ lang('ACP_HEADERLINK_ICON_PLACEHOLDER') }}" maxlength="255" />
			</dt>
			<dd>
				<select style="margin-bottom:8px;"name="headerlink_active_4" id="headerlink_active_4">
				<option value="0"{% if HEADERLINK_ACTIVE_4 eq '0' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_DISABLE') }}</option>
				<option value="1"{% if HEADERLINK_ACTIVE_4 eq '1' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_GUEST') }}</option>
				<option value="2"{% if HEADERLINK_ACTIVE_4 eq '2' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_MEMBER') }}</option>
				<option value="3"{% if HEADERLINK_ACTIVE_4 eq '3' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_ACTIVE') }}</option>
				<option value="4"{% if HEADERLINK_ACTIVE_4 eq '4' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_ADMIN') }}</option>
				<option value="5"{% if HEADERLINK_ACTIVE_4 eq '5' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_MOD') }}</option>
				</select><br>
				<label>{{ lang('ACP_HEADERLINK_TARGET') }}</label><label><input type="radio" class="radio" name="headerlink_target_4" value="1"{% if HEADERLINK_TARGET_4 %} id="headerlink_target_4" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="headerlink_target_4" value="0"{% if not HEADERLINK_TARGET_4 %} id="headerlink_target_4" checked="checked"{% endif %} />  <br style="margin-bottom:8px;">
				<input class="jscolor {hash:true}" name="headerlink_colour_4" type="text" id="headerlink_colour_4" value="{{ HEADERLINK_COLOUR_4 }}" size="8" maxlength="8" />&nbsp;{{ lang('ACP_HEADERLINK_COLOUR') }}
			</dd>
		</dl>
		<hr>
		<legend>{{ lang('ACP_HEADERLINK_LINK_5') }}</legend>
		<dl>
			<dt>
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_url_5" type="text" id="headerlink_url_5" value="{{ HEADERLINK_URL_5 }}" placeholder="{{ lang('ACP_HEADERLINK_URL_PLACEHOLDER') }}" maxlength="255" />
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_name_5" type="text" id="headerlink_name_5" value="{{ HEADERLINK_NAME_5 }}" placeholder="{{ lang('ACP_HEADERLINK_NAME_PLACEHOLDER') }}" maxlength="255" />
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_hover_5" type="text" id="headerlink_hover_5" value="{{ HEADERLINK_HOVER_5 }}" placeholder="{{ lang('ACP_HEADERLINK_HOVER_PLACEHOLDER') }}" maxlength="255" />
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_icon_5" type="text" id="headerlink_icon_5" value="{{ HEADERLINK_ICON_5 }}" placeholder="{{ lang('ACP_HEADERLINK_ICON_PLACEHOLDER') }}" maxlength="255" />
			</dt>
		<dd>
			<select style="margin-bottom:8px;"name="headerlink_active_5" id="headerlink_active_5">
				<option value="0"{% if HEADERLINK_ACTIVE_5 eq '0' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_DISABLE') }}</option>
				<option value="1"{% if HEADERLINK_ACTIVE_5 eq '1' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_GUEST') }}</option>
				<option value="2"{% if HEADERLINK_ACTIVE_5 eq '2' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_MEMBER') }}</option>
				<option value="3"{% if HEADERLINK_ACTIVE_5 eq '3' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_ACTIVE') }}</option>
				<option value="4"{% if HEADERLINK_ACTIVE_5 eq '4' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_ADMIN') }}</option>
				<option value="5"{% if HEADERLINK_ACTIVE_5 eq '5' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_MOD') }}</option>
				</select><br>
			<label>{{ lang('ACP_HEADERLINK_TARGET') }}</label><label><input type="radio" class="radio" name="headerlink_target_5" value="1"{% if HEADERLINK_TARGET_5 %} id="headerlink_target_5" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="headerlink_target_5" value="0"{% if not HEADERLINK_TARGET_5 %} id="headerlink_target_5" checked="checked"{% endif %} /> {{ lang('NO') }}</label> <br style="margin-bottom:8px;">
			<input class="jscolor {hash:true}" name="headerlink_colour_5" type="text" id="headerlink_colour_5" value="{{ HEADERLINK_COLOUR_5 }}" size="8" maxlength="8" />&nbsp;{{ lang('ACP_HEADERLINK_COLOUR') }}
			</dd>
		</dl>
		<hr>
		<legend>{{ lang('ACP_HEADERLINK_LINK_6') }}</legend>
		<dl>
			<dt>
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_url_6" type="text" id="headerlink_url_6" value="{{ HEADERLINK_URL_6 }}" placeholder="{{ lang('ACP_HEADERLINK_URL_PLACEHOLDER') }}" maxlength="255" />
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_name_6" type="text" id="headerlink_name_6" value="{{ HEADERLINK_NAME_6 }}" placeholder="{{ lang('ACP_HEADERLINK_NAME_PLACEHOLDER') }}" maxlength="255" />
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_hover_6" type="text" id="headerlink_hover_6" value="{{ HEADERLINK_HOVER_6 }}" placeholder="{{ lang('ACP_HEADERLINK_HOVER_PLACEHOLDER') }}" maxlength="255" />
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_icon_6" type="text" id="headerlink_icon_6" value="{{ HEADERLINK_ICON_6 }}" placeholder="{{ lang('ACP_HEADERLINK_ICON_PLACEHOLDER') }}" maxlength="255" />
			</dt>
			<dd>
				<select style="margin-bottom:8px;"name="headerlink_active_6" id="headerlink_active_6">
				<option value="0"{% if HEADERLINK_ACTIVE_6 eq '0' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_DISABLE') }}</option>
				<option value="1"{% if HEADERLINK_ACTIVE_6 eq '1' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_GUEST') }}</option>
				<option value="2"{% if HEADERLINK_ACTIVE_6 eq '2' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_MEMBER') }}</option>
				<option value="3"{% if HEADERLINK_ACTIVE_6 eq '3' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_ACTIVE') }}</option>
				<option value="4"{% if HEADERLINK_ACTIVE_6 eq '4' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_ADMIN') }}</option>
				<option value="5"{% if HEADERLINK_ACTIVE_6 eq '5' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_MOD') }}</option>
				</select><br>
				<label>{{ lang('ACP_HEADERLINK_TARGET') }}</label><label><input type="radio" class="radio" name="headerlink_target_6" value="1"{% if HEADERLINK_TARGET_6 %} id="headerlink_target_6" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="headerlink_target_6" value="0"{% if not HEADERLINK_TARGET_6 %} id="headerlink_target_6" checked="checked"{% endif %} /> {{ lang('NO') }}</label> <br style="margin-bottom:8px;">
				<input class="jscolor {hash:true}" name="headerlink_colour_6" type="text" id="headerlink_colour_6" value="{{ HEADERLINK_COLOUR_6 }}" size="8" maxlength="8" />&nbsp;{{ lang('ACP_HEADERLINK_COLOUR') }}
			</dd>
		</dl>
		<hr>
		<legend>{{ lang('ACP_HEADERLINK_LINK_7') }}</legend>
		<dl>
			<dt>
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_url_7" type="text" id="headerlink_url_7" value="{{ HEADERLINK_URL_7 }}" placeholder="{{ lang('ACP_HEADERLINK_URL_PLACEHOLDER') }}" maxlength="255" />
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_name_7" type="text" id="headerlink_name_7" value="{{ HEADERLINK_NAME_7 }}" placeholder="{{ lang('ACP_HEADERLINK_NAME_PLACEHOLDER') }}" maxlength="255" />
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_hover_7" type="text" id="headerlink_hover_7" value="{{ HEADERLINK_HOVER_7 }}" placeholder="{{ lang('ACP_HEADERLINK_HOVER_PLACEHOLDER') }}" maxlength="255" />
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_icon_7" type="text" id="headerlink_icon_7" value="{{ HEADERLINK_ICON_7 }}" placeholder="{{ lang('ACP_HEADERLINK_ICON_PLACEHOLDER') }}" maxlength="255" />
			</dt>
			<dd>
				<select style="margin-bottom:8px;"name="headerlink_active_7" id="headerlink_active_7">
				<option value="0"{% if HEADERLINK_ACTIVE_7 eq '0' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_DISABLE') }}</option>
				<option value="1"{% if HEADERLINK_ACTIVE_7 eq '1' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_GUEST') }}</option>
				<option value="2"{% if HEADERLINK_ACTIVE_7 eq '2' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_MEMBER') }}</option>
				<option value="3"{% if HEADERLINK_ACTIVE_7 eq '3' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_ACTIVE') }}</option>
				<option value="4"{% if HEADERLINK_ACTIVE_7 eq '4' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_ADMIN') }}</option>
				<option value="5"{% if HEADERLINK_ACTIVE_7 eq '5' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_MOD') }}</option>
				</select><br>
				<label>{{ lang('ACP_HEADERLINK_TARGET') }}</label><label><input type="radio" class="radio" name="headerlink_target_7" value="1"{% if HEADERLINK_TARGET_7 %} id="headerlink_target_7" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="headerlink_target_7" value="0"{% if not HEADERLINK_TARGET_7 %} id="headerlink_target_7" checked="checked"{% endif %} /> {{ lang('NO') }}</label> <br style="margin-bottom:8px;">
				<input class="jscolor {hash:true}" name="headerlink_colour_7" type="text" id="headerlink_colour_7" value="{{ HEADERLINK_COLOUR_7 }}" size="8" maxlength="8" />&nbsp;{{ lang('ACP_HEADERLINK_COLOUR') }}
			</dd>
		</dl>
		<hr>
		<legend>{{ lang('ACP_HEADERLINK_LINK_8') }}</legend>
		<dl>
			<dt>
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_url_8" type="text" id="headerlink_url_8" value="{{ HEADERLINK_URL_8 }}" placeholder="{{ lang('ACP_HEADERLINK_URL_PLACEHOLDER') }}" maxlength="255" />
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_name_8" type="text" id="headerlink_name_8" value="{{ HEADERLINK_NAME_8 }}" placeholder="{{ lang('ACP_HEADERLINK_NAME_PLACEHOLDER') }}" maxlength="255" />
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_hover_8" type="text" id="headerlink_hover_8" value="{{ HEADERLINK_HOVER_8 }}" placeholder="{{ lang('ACP_HEADERLINK_HOVER_PLACEHOLDER') }}" maxlength="255" />
				<input style="width: 90%; margin-bottom:8px;" name="headerlink_icon_8" type="text" id="headerlink_icon_8" value="{{ HEADERLINK_ICON_8 }}" placeholder="{{ lang('ACP_HEADERLINK_ICON_PLACEHOLDER') }}" maxlength="255" />
			</dt>
			<dd>
				<select style="margin-bottom:8px;"name="headerlink_active_8" id="headerlink_active_8">
				<option value="0"{% if HEADERLINK_ACTIVE_8 eq '0' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_DISABLE') }}</option>
				<option value="1"{% if HEADERLINK_ACTIVE_8 eq '1' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_GUEST') }}</option>
				<option value="2"{% if HEADERLINK_ACTIVE_8 eq '2' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_MEMBER') }}</option>
				<option value="3"{% if HEADERLINK_ACTIVE_8 eq '3' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_ACTIVE') }}</option>
				<option value="4"{% if HEADERLINK_ACTIVE_8 eq '4' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_ADMIN') }}</option>
				<option value="5"{% if HEADERLINK_ACTIVE_8 eq '5' %} selected="selected"{% endif %}>{{ lang('ACP_HEADERLINK_MOD') }}</option>
				</select><br>
				<label>{{ lang('ACP_HEADERLINK_TARGET') }}</label><label><input type="radio" class="radio" name="headerlink_target_8" value="1"{% if HEADERLINK_TARGET_8 %} id="headerlink_target_8" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="headerlink_target_8" value="0"{% if not HEADERLINK_TARGET_8 %} id="headerlink_target_8" checked="checked"{% endif %} /> {{ lang('NO') }}</label> <br style="margin-bottom:8px;">
				<input class="jscolor {hash:true}" name="headerlink_colour_8" type="text" id="headerlink_colour_8" value="{{ HEADERLINK_COLOUR_8 }}" size="8" maxlength="8" />&nbsp;{{ lang('ACP_HEADERLINK_COLOUR') }}
			</dd>
		</dl>
		<p class="submit-buttons">
			<input type="hidden" name="action" value="save" />
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
			{{ S_FORM_TOKEN }}
		</p>
	</fieldset>
</form>
{% INCLUDE 'overall_footer.html' %}
