/*	phpBB3 Style Sheet
	--------------------------------------------------------------
	Style name:			pro-menu32
	Based on style:		prosilver (the default phpBB 3.2.x style)
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		phpBB Limited ( https://www.phpbb.com/ )
	--------------------------------------------------------------
*/


/* Navbar */

.phpbb-navbar ul {
	list-style: none;
	display: block;
}

.phpbb-navbar .nav-button {
	display: block;
	margin: 0 3px;
	float: left;
	position: relative;
	border-radius:10px;
}

/* Rolloff state */
.phpbb-navbar .nav-button > a {
	font-family: "Trebuchet MS",Verdana,Helvetica,Arial,Sans-serif;
	color: #FFF;
	cursor: pointer;
	display: block;
	font-size: 13px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	text-shadow: 0 1px 2px #525d66;
	padding: 0 10px;
}



.phpbb-navbar .nav-button:hover > a,
.phpbb-navbar .nav-button.hovering > a {
	background-color: #0479b3;
	border-radius: 10px;
	position: relative;
}

.phpbb-navbar .nav-button > a:hover {
	text-decoration: none;
}


/* Responsive menu toggle button */
.phpbb-navbar .but-menu {
	display: none;
	margin: 0 5px !important;
}

.phpbb-navbar .but-menu > a {
	font-size: 16px;
	padding-left: 30px;
	border-radius: 10px;
}

.phpbb-navbar .but-menu > a:before {
	content: '';
	position: absolute;
	left: 8px;
	top: 10px;
	height: .125em;
	width: 14px;
	border-bottom: 0.125em solid #FFF;
	border-top: 0.375em double #FFF;
}

.rtl .phpbb-navbar .nav-button > a {
	direction: rtl;
}

.rtl .phpbb-navbar .nav-button {
	float: right;
}

.rtl .phpbb-navbar .but-menu > a:before {
	right: 8px;
}

.rtl li .nav-button {
	float: none !important;
}


@media only screen and (max-width: 700px), only screen and (max-device-width: 700px)
{
	.phpbb-navbar {
		border-radius: 0 !important;
		margin: 1px -5px 0;
	}

	.phpbb-navbar .phpbb-menu, .headerbar {
		border-radius: 0px ;
	}

	.phpbb-navbar .but-menu {
	border-radius: 1px !important;
	}
}
