/*	phpBB3 Style Sheet
	--------------------------------------------------------------
	Style name:			pro-menu32
	Based on style:		prosilver (the default phpBB 3.2.x style)
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		phpBB Limited ( https://www.phpbb.com/ )
	--------------------------------------------------------------
*/

/* Responsive menu toggle button */
.phpbb-navbar .but-menu {
	display: none;
	margin: 0 5px !important;
}

.phpbb-navbar .but-menu > a {
	font-size: 16px;
	padding-left: 30px;
	border-radius: 10px;
}

.phpbb-navbar .but-menu > a:before {
	content: '';
	position: absolute;
	left: 8px;
	top: 10px;
	height: .125em;
	width: 14px;
	border-bottom: 0.125em solid #FFF;
	border-top: 0.375em double #FFF;
}

.rtl .phpbb-navbar .nav-button > a {
	direction: rtl;
}

.rtl .phpbb-navbar .nav-button {
	float: right;
}

.rtl .phpbb-navbar .but-menu > a:before {
	right: 8px;
}

.rtl li .nav-button {
	float: none !important;
}

/* Responsive
--------------------------------------------- */
@media only screen and (max-width: 915px), only screen and (max-device-width: 915px)
{
	.phpbb-navbar .but-menu {
		display: block;
		background-color: #0c93d7;
		width: 100px;
	}

	.phpbb-navbar .phpbb-menu {
		background-color: #0c93d7;
		display: none;
		position: absolute;
		top: 30px;
		border-radius:  10px;
		z-index: 11;
	}

	.phpbb-navbar .phpbb-menu.show {
		display: block;
	}

	.phpbb-navbar .phpbb-menu:after {
		content: '';
		clear: both;
		display: block;
	}

	.phpbb-navbar .nav-button {
		margin: 5px 0;
		float: none;
	}

	.phpbb-navbar .nav-button > a {
		border-radius:  10px;
		padding-right: 30px;
	}

	.rtl .phpbb-navbar .nav-button {
		float: none;
	}

}
