/*	phpBB3 Style Sheet
	--------------------------------------------------------------
	Style name:			pro-menu32
	Based on style:		prosilver (the default phpBB 3.2.x style)
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		phpBB Limited ( https://www.phpbb.com/ )
	--------------------------------------------------------------
*/


.headerbar {
	margin-bottom: 1px;
	padding: 5px;
	border-radius: 7px 7px 0px 0px;
}
/* Navbar */

.phpbb-navbar:after {
	clear: both;
	content: '';
	display: block;
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px)
{
	.phpbb-navbar {
		border-radius: 0 !important;
		margin: 1px -5px 0;
	}

	.phpbb-navbar .phpbb-menu, .headerbar {
		border-radius: 0px ;
	}

	.phpbb-navbar .but-menu {
	border-radius: 1px !important;
	}
}