/*	phpBB3 Style Sheet
	--------------------------------------------------------------
	Style name:			pro-menu32
	Based on style:		prosilver (the default phpBB 3.2.x style)
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		phpBB Limited ( https://www.phpbb.com/ )
	--------------------------------------------------------------
*/


/* Navbar */
.phpbb-navbar {
	clear: left;
}

.phpbb-navbar:after {
	clear: right;
	content: '';
	display: block;
}

.phpbb-navbar ul {
	list-style: none;
	display: block;
}
