<!-- INCLUDECSS css/newsscroll_acp.css -->

<!-- INCLUDE overall_header.html -->

<script>
    var form_name = 'acp_newsscroll_config';
	var text_name = 'newsscroll_text';
	var load_draft = false;
	var upload = false;
	var imageTag = false;
</script>

<h1>{L_ACP_NEWSSCROLL_CONFIG}</h1>

<p>{L_ACP_NEWSSCROLL_CONFIG_EXPLAIN}</p>

<form id="acp_newsscroll_config" method="post" action="{U_ACTION}">
	<fieldset>
		<legend>{L_ACP_NEWSSCROLL_CONFIG_SET}</legend>
		<dl>
			<dt><label for="newsscroll_activated">{L_NEWSSCROLL_ACTIVATED}{L_COLON}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="newsscroll_activated" value="1"<!-- IF NEWSSCROLL_ACTIVATED --> id="newsscroll_activated" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
				<label><input type="radio" class="radio" name="newsscroll_activated" value="0"<!-- IF not NEWSSCROLL_ACTIVATED --> id="newsscroll_activated" checked="checked"<!-- ENDIF --> /> {L_NO}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="newsscroll_index">{L_NEWSSCROLL_INDEX}{L_COLON}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="newsscroll_index" value="1"<!-- IF NEWSSCROLL_INDEX --> id="newsscroll_index" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
				<label><input type="radio" class="radio" name="newsscroll_index" value="0"<!-- IF not NEWSSCROLL_INDEX --> id="newsscroll_index" checked="checked"<!-- ENDIF --> /> {L_NO}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="newsscroll_member">{L_NEWSSCROLL_MEMBER}{L_COLON}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="newsscroll_member" value="1"<!-- IF NEWSSCROLL_MEMBER --> id="newsscroll_member" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
				<label><input type="radio" class="radio" name="newsscroll_member" value="0"<!-- IF not NEWSSCROLL_MEMBER --> id="newsscroll_member" checked="checked"<!-- ENDIF --> /> {L_NO}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="newsscroll_speed">{L_NEWSSCROLL_SPEED}{L_COLON}</label><br /><span>{L_NEWSSCROLL_SPEED_EXPLAIN}</span></dt>
			<dd>
				<input name="newsscroll_speed" type="text" id="newsscroll_speed" value="{NEWSSCROLL_SPEED}" size="6" maxlength="6" />
			</dd>
		</dl>
	</fieldset>

    <fieldset style="height: 60px;">
		<legend>{L_NEWSSCROLL_PREVIEW}</legend>
		<div class="newsscroll_outer">
			<div class="newsscroll">
				<div class="marquee" style="-webkit-animation-duration: {NEWSSCROLL_SPEED}s; animation-duration: {NEWSSCROLL_SPEED}s;">{NEWSSCROLL_PREVIEW}</div>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend>{L_NEWSSCROLL_TEXT}</legend>

		<!-- INCLUDE acp_posting_buttons.html -->

		<dl class="responsive-columns">
			<dt style="width: 90px;" id="color_palette_placeholder" data-orientation="v" data-height="12" data-width="15" data-bbcode="true"></dt>
			<dd style="margin-{S_CONTENT_FLOW_BEGIN}: 90px;">
				<textarea name="newsscroll_text" rows="10" cols="60" style="width: 95%;" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" data-bbcode="true">{NEWSSCROLL_TEXT}</textarea>
			</dd>
			<dd style="margin-{S_CONTENT_FLOW_BEGIN}: 90px; margin-top: 5px;">
				<!-- IF S_BBCODE_ALLOWED -->
					<label><input type="checkbox" class="radio" name="disable_bbcode"<!-- IF S_BBCODE_DISABLE_CHECKED --> checked="checked"<!-- ENDIF --> /> {{ lang('DISABLE_BBCODE') }}</label>
				<!-- ENDIF -->
				<!-- IF S_SMILIES_ALLOWED -->
					<label><input type="checkbox" class="radio" name="disable_smilies"<!-- IF S_SMILIES_DISABLE_CHECKED --> checked="checked"<!-- ENDIF --> /> {{ lang('DISABLE_SMILIES') }}</label>
				<!-- ENDIF -->
				<!-- IF S_LINKS_ALLOWED -->
					<label><input type="checkbox" class="radio" name="disable_magic_url"<!-- IF S_MAGIC_URL_DISABLE_CHECKED --> checked="checked"<!-- ENDIF --> /> {{ lang('DISABLE_MAGIC_URL') }}</label>
				<!-- ENDIF -->
			</dd>
			<dd style="margin-{S_CONTENT_FLOW_BEGIN}: 90px; margin-top: 10px;"><strong>{{ lang('OPTIONS') }}{{ lang('COLON') }} </strong>{BBCODE_STATUS} :: {IMG_STATUS} :: {FLASH_STATUS} :: {URL_STATUS} :: {SMILIES_STATUS}</dd>
		</dl>
	</fieldset>

	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
		{S_FORM_TOKEN}
	</fieldset>
</form>

<!-- INCLUDE overall_footer.html -->
