<!-- INCLUDE overall_header.html -->

<a name="maincontent"></a>

<h1>{L_TITLE}</h1>
<p>{L_TITLE_EXPLAIN}</p>
<p>{L_ACP_THANKS_MOD_VER}{L_COLON}&nbsp;{THANKS_MOD_VERSION}</p>
<!-- IF S_ERROR -->
<div class="errorbox">
	<h3>{L_WARNING}</h3>
	<p>{ERROR_MSG}</p>
</div>
<!-- ENDIF -->

<form id="acp_thanks" method="post" action="{U_ACTION}">

	<!-- BEGIN options -->
	<!-- IF options.S_LEGEND -->
	<!-- IF not options.S_FIRST_ROW -->
</fieldset>
<!-- ENDIF -->
<fieldset>
	<legend>{options.LEGEND}</legend>
	<!-- ELSE -->
	<dl>
		<dt><label for="{options.KEY}">{options.TITLE}{L_COLON}</label><!-- IF options.S_EXPLAIN --><br /><span>{options.TITLE_EXPLAIN}</span><!-- ENDIF --></dt>
		<dd>{options.CONTENT}</dd>
	</dl>

	<!-- ENDIF -->
	<!-- END options -->

	<p class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
	</p>
	{S_FORM_TOKEN}
</fieldset>
</form>

<!-- INCLUDE overall_footer.html -->
