<!-- INCLUDE overall_header.html -->

<h2 class="solo">{PAGE_TITLE}</h2>

<!-- IF .pagination or TOTAL_USERS -->
<div class="action-bar top">
	<div class="pagination">
		{TOTAL_USERS}
		<!-- IF .pagination -->
		<!-- INCLUDE pagination.html -->
		<!-- ELSE -->
		&bull; {PAGE_NUMBER}
		<!-- ENDIF -->
	</div>
</div>
<!-- ENDIF -->

<div class="forumbg forumbg-table">
	<div class="inner">

		<table class="table1" cellspacing="1">
			<thead>
				<tr>
					<th class="name" data-dfn="{L_RANK}{L_COMMA_SEPARATOR}{L_USERNAME}"><!-- IF S_THANKS --><span class="rank-img"><a href="{U_SORT_RANK}">{L_RANK}</a></span><a href="{U_SORT_USERNAME}">{L_USERNAME}</a><!-- ENDIF --></th>
					<th class="posts"><!-- IF S_THANKS --><a href="{U_SORT_POSTS}">{L_POSTS}</a><!-- ELSE -->{L_POSTS}<!-- ENDIF --></th>
					<th class="posts"><!-- IF S_THANKS --><a href="{U_SORT_THANKS_G}">{L_GIVEN}</a><!-- ELSE -->{L_GIVEN}<!-- ENDIF --></th>
					<th class="posts"><!-- IF S_THANKS --><a href="{U_SORT_THANKS_R}">{L_RECEIVED}</a><!-- ELSE -->{L_RECEIVED}<!-- ENDIF --></th>
					<th class="info"><!-- BEGIN custom_fields --><!-- IF not custom_fields.S_FIRST_ROW -->{L_COMMA_SEPARATOR} <!-- ENDIF -->{custom_fields.PROFILE_FIELD_NAME}<!-- END custom_fields --></th>
					<th class="joined"><!-- IF S_THANKS --><a href="{U_SORT_JOINED}">{L_JOINED}</a><!-- ELSE -->{L_JOINED}<!-- ENDIF --></th>
					<th class="active"><!-- IF S_THANKS --><a href="{U_SORT_ACTIVE}">{L_LAST_ACTIVE}</a><!-- ELSE -->{L_LAST_ACTIVE}<!-- ENDIF --></th>
				</tr>
			</thead>
			<tbody>
				<!-- BEGIN memberrow -->
				<tr class="<!-- IF memberrow.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
					<td><!-- IF memberrow.RANK_IMG --><span class="rank-img">{memberrow.RANK_IMG}</span><!-- ELSE --><span class="rank-img">{memberrow.RANK_TITLE}</span><!-- ENDIF --><!-- IF S_IN_SEARCH_POPUP and not S_SELECT_SINGLE --><input type="checkbox" name="user" value="{memberrow.USERNAME}" /> <!-- ENDIF -->{memberrow.USERNAME_FULL}</td>
					<td class="posts"><!-- IF memberrow.POSTS --><a href="{memberrow.U_SEARCH_USER}" title="{L_SEARCH_USER_POSTS}">{memberrow.POSTS}</a><!-- ELSE -->{memberrow.POSTS}<!-- ENDIF --></td>
					<td class="posts"><!-- IF memberrow.GIVENS --><a href="{memberrow.U_SEARCH_USER_GIVENS}" title="{L_SEARCH_USER_POSTS}">{memberrow.GIVENS}</a><!-- ELSE -->{memberrow.GIVENS}<!-- ENDIF --> </td>
					<td class="posts"><!-- IF memberrow.RECEIVED --><a href="{memberrow.U_SEARCH_USER_RECEIVED}" title="{L_SEARCH_USER_POSTS}">{memberrow.RECEIVED}</a><!-- ELSE -->{memberrow.RECEIVED}<!-- ENDIF --></td>
					<td class="info"><!-- BEGIN custom_fields --><div>{memberrow.custom_fields.PROFILE_FIELD_VALUE}</div><!-- BEGINELSE -->&nbsp;<!-- END custom_fields --></td>
					<td>{memberrow.JOINED}</td>
					<td>{memberrow.VISITED}&nbsp;</td>
				</tr>
				<!-- BEGINELSE -->
				<tr class="bg1">
					<td colspan="<!-- IF S_VIEWONLINE -->8<!-- ELSE -->7<!-- ENDIF -->">{L_NO_MEMBERS}</td>
				</tr>
				<!-- END memberrow -->
			</tbody>
		</table>
	</div>
</div>

<!-- IF .pagination or TOTAL_USERS -->
<div class="action-bar bottom">
	<div class="pagination">
		{TOTAL_USERS}
		<!-- IF .pagination -->
		<!-- INCLUDE pagination.html -->
		<!-- ELSE -->
		&bull; {PAGE_NUMBER}
		<!-- ENDIF -->
	</div>
</div>
<!-- ENDIF -->

<!-- INCLUDE jumpbox.html -->

<!-- INCLUDE overall_footer.html -->
