<!-- INCLUDE overall_header.html -->

<a name="faqtop"></a>

<div id="pagecontent">

	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th>{L_FAQ_TITLE}</th>
	</tr>
	<tr>
		<td class="row1">
		<!-- BEGIN faq_block -->
			<span class="gen"><b>{faq_block.BLOCK_TITLE}</b></span><br />
			<!-- BEGIN faq_row -->
			<span class="gen"><a href="#f{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}">{faq_block.faq_row.FAQ_QUESTION}</a></span><br />
			<!-- END faq_row -->
			<br />
		<!-- END faq_block -->
		</td>
	</tr>
	<tr>
		<td class="cat">&nbsp;</td>
	</tr>
	</table>

	<br   />

	<!-- BEGIN faq_block -->
		<table class="tablebg" width="100%" cellspacing="1">
		<tr> 
			<td class="cat" align="center"><h4>{faq_block.BLOCK_TITLE}</h4></td>
		</tr>
		<!-- BEGIN faq_row --> 
		<tr>
			<!-- IF faq_block.faq_row.S_ROW_COUNT is even -->
				<td class="row1" valign="top">
			<!-- ELSE -->
				<td class="row2" valign="top">
			<!-- ENDIF -->
					<div class="postbody"><a name="f{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}"></a><b>&#187; {faq_block.faq_row.FAQ_QUESTION}</b></div>
				<div class="postbody">{faq_block.faq_row.FAQ_ANSWER}</div>
				<p class="gensmall"><a href="#faqtop">{L_BACK_TO_TOP}</a></p>
			</td>
		</tr>
		<tr>
			<td class="spacer" height="1"><img src="images/spacer.gif" alt="" width="1" height="1" /></td>
		</tr>
		<!-- END faq_row -->
		</table>

		<br   />
	<!-- END faq_block -->

</div>

<!-- INCLUDE breadcrumbs.html -->

<br  />

<div align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->