<div   colspan="5" align="{S_CONTENT_FLOW_END}"><!-- IF not S_IS_BOT and U_MARK_FORUMS --><a class="nav" href="{U_MARK_FORUMS}">{L_MARK_FORUMS_READ}</a><!-- ENDIF -->&nbsp;</div><br/>
 
 <!-- BEGIN forumrow -->
	<!-- IF (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT  -->
	<tr><td class="cat-bottom" colspan="5">&nbsp;</td></tr>
	</table>
	 </div>
	</div>
	<br />
	<!-- ENDIF -->
	<!-- IF forumrow.S_IS_CAT or forumrow.S_FIRST_ROW or forumrow.S_NO_CAT  -->
		<div id="f_{forumrow.FORUM_ID}_h" style="display:none;">
		<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><img style="padding-top:9px;padding-right:6px;float:right;cursor:pointer;" src="{T_THEME_PATH}{$MG_MAX}" onclick="javascript:ShowHide('f_{forumrow.FORUM_ID}','f_{forumrow.FORUM_ID}_h','f_{forumrow.FORUM_ID}');" alt="{L_FORUM}" />
		<div class="tbl-title"><h4><!-- IF forumrow.S_IS_CAT -->
		<a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a><!-- ELSE -->{L_FORUM}<!-- ENDIF --></h4>
		</div></div></div></div>
		<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
		<tr><td class="row1"><span class="gensmall">&nbsp;</span></td></tr>
		</table>
		 </div>
		<br />
		</div>

		<div id="f_{forumrow.FORUM_ID}">
		<script type="text/javascript">
		<!--
		tmp = 'f_{forumrow.FORUM_ID}';
		if(GetCookie(tmp) == '2')
		{
			ShowHide('f_{forumrow.FORUM_ID}', 'f_{forumrow.FORUM_ID}_h', 'f_{forumrow.FORUM_ID}');
		}
		//-->
		</script>
		<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><img style="padding-top:9px;padding-right:6px;float:right;cursor:pointer;" src="{T_THEME_PATH}{$MG_MIN}" onclick="javascript:ShowHide('f_{forumrow.FORUM_ID}','f_{forumrow.FORUM_ID}_h','f_{forumrow.FORUM_ID}');" alt="{L_FORUM}" /><div class="tbl-title"><h4><!-- IF forumrow.S_IS_CAT --><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a><!-- ELSE -->{L_FORUM}<!-- ENDIF --></h4></div></div></div></div>
		<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<th colspan="2">&nbsp;{L_FORUM}&nbsp;</th>
			<th width="50">&nbsp;{L_TOPICS}&nbsp;</th>
			<th width="50">&nbsp;{L_POSTS}&nbsp;</th>
			<th>&nbsp;{L_LAST_POST}&nbsp;</th>
		</tr>
	<!-- ENDIF -->
	<!-- IF not forumrow.S_IS_CAT -->
		<!-- IF forumrow.S_IS_LINK -->
			<tr>
				<td class="row1" width="50" align="center">{forumrow.FORUM_FOLDER_IMG}</td>
				<td class="row1">
					<!-- IF forumrow.FORUM_IMAGE -->
						<div style="float: {S_CONTENT_FLOW_BEGIN}; margin-{S_CONTENT_FLOW_END}: 5px;">{forumrow.FORUM_IMAGE}</div>
				<!-- ENDIF -->
				<a class="forumlink" href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a>
				<p class="forumdesc">{forumrow.FORUM_DESC}</p>
				</td>
				<!-- IF forumrow.CLICKS -->
					<td class="row2" colspan="3" align="center"><span class="genmed">{L_REDIRECTS}: {forumrow.CLICKS}</span></td>
				<!-- ELSE -->
					<td class="row2" colspan="3" align="center">&nbsp;</td>
				<!-- ENDIF -->
			</tr>
		<!-- ELSE -->
			<tr>
				<td class="row1" width="50" align="center">{forumrow.FORUM_FOLDER_IMG}</td>
				<td class="row1h" width="100%">
					<!-- IF forumrow.FORUM_IMAGE -->
						<div style="float:{S_CONTENT_FLOW_BEGIN};margin-{S_CONTENT_FLOW_END}:5px;">{forumrow.FORUM_IMAGE}</div><div style="float:{S_CONTENT_FLOW_BEGIN};">
					<!-- ENDIF -->
					<a class="forumlink" href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a>
					<p class="forumdesc">{forumrow.FORUM_DESC}</p>
					<!-- IF forumrow.MODERATORS -->
						<p class="forumdesc"><strong>{forumrow.L_MODERATOR_STR}:</strong> {forumrow.MODERATORS}</p>
					<!-- ENDIF -->
					<!-- IF forumrow.SUBFORUMS and forumrow.S_LIST_SUBFORUMS -->
						<p class="forumdesc"><strong>{forumrow.L_SUBFORUM_STR}</strong> {forumrow.SUBFORUMS}</p>
					<!-- ENDIF -->
				</td>
			<td class="row2" align="center"><p class="topicdetails">{forumrow.TOPICS}</p></td>
			<td class="row2" align="center"><p class="topicdetails">{forumrow.POSTS}</p></td>
			<td class="row2" align="center" nowrap="nowrap">
				<!-- IF forumrow.LAST_POST_TIME -->
					<p class="topicdetails"><!-- IF forumrow.U_UNAPPROVED_TOPICS --><a href="{forumrow.U_UNAPPROVED_TOPICS}">{UNAPPROVED_IMG}</a>&nbsp;<!-- ENDIF -->{forumrow.LAST_POST_TIME}</p>
						<p class="topicdetails">{forumrow.LAST_POSTER_FULL}
						<!-- IF not S_IS_BOT --><a href="{forumrow.U_LAST_POST}">{LAST_POST_IMG}</a><!-- ENDIF -->
						</p>
					<!-- ELSE -->
						<p class="topicdetails">{L_NO_POSTS}</p>
					<!-- ENDIF -->
				</td>
			</tr>
		<!-- ENDIF -->
	<!-- ENDIF -->
	<!-- IF forumrow.S_LAST_ROW -->
		<tr><td class="cat-bottom" colspan="5">&nbsp;</td></tr>
		</table>
		 </div>
		</div>
	<!-- ENDIF -->
<!-- BEGINELSE -->
	<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><div class="tbl-title"><h4>{L_FORUM}</h4></div></div></div></div>
	<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
	<tr><td class="row1" colspan="5" align="center"><p class="gensmall">{L_NO_FORUMS}</p></td></tr>
	<tr><td class="cat-bottom" colspan="5">&nbsp;</td></tr>
	</table>
	<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;</div></div></div></div>
<!-- END forumrow -->
