<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>


 
<br/>
	<br/><br />
<!-- ENDIF -->



<!-- INCLUDE forumlist_body.html -->

<span class="gensmall"><!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a><!-- ENDIF --> | <a href="{U_TEAM}">{L_THE_TEAM}</a></span><br />

<br />

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<br   />

	<div id="viewonline_h" style="display:none;">
	<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><img style="padding-top:9px;padding-right:6px;float:right;cursor:pointer;" src="{T_THEME_PATH}{$MG_MAX}" onclick="javascript:ShowHide('viewonline_nh','viewonline_h','viewonline_nh');" alt="{L_WHO_IS_ONLINE}" /><div class="tbl-title"> {L_WHO_IS_ONLINE} </div></div></div></div>
	<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
	<tr><td class="row1"><span class="gensmall">&nbsp;</span></td></tr>
	</table>
	<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;</div></div></div></div>
	</div>

	<div id="viewonline_nh">
	<script type="text/javascript">
	<!--
	tmp = 'viewonline';
	if(GetCookie(tmp) == '2')
	{
		ShowHide('viewonline_nh', 'viewonline_h', 'viewonline_nh');
	}
	//-->
	</script>
	<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><img style="padding-top:9px;padding-right:6px;float:right;cursor:pointer;" src="{T_THEME_PATH}{$MG_MIN}" onclick="javascript:ShowHide('viewonline_nh','viewonline_h','viewonline_nh');" alt="{L_WHO_IS_ONLINE}" /><div class="tbl-title"><!-- IF U_VIEWONLINE --> <a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a> <!-- ELSE --> {L_WHO_IS_ONLINE} <!-- ENDIF --></div></div></div></div>
	<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
	<tr>
	<!-- IF LEGEND -->
		<td class="row1" rowspan="2" align="center" valign="middle"><img src="{T_THEME_PATH}/images/whosonline.gif" alt="{L_WHO_IS_ONLINE}" /></td>
	<!-- ELSE -->
		<td class="row1" align="center" valign="middle"><img src="{T_THEME_PATH}/images/whosonline.gif" alt="{L_WHO_IS_ONLINE}" /></td>
	<!-- ENDIF -->
		<td class="row1" width="100%"><span class="genmed">{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /><br />{LOGGED_IN_USER_LIST}</span></td>
	</tr>
	<!-- IF LEGEND -->
		<tr><td class="row1"><b class="gensmall">{L_LEGEND} :: {LEGEND}</b></td></tr>
	<!-- ENDIF -->
	<tr><td class="cat-bottom" colspan="2">&nbsp;</td></tr>
	</table>
	<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;</div></div></div></div>
	</div>
<!-- ENDIF -->

<!-- IF S_DISPLAY_BIRTHDAY_LIST -->
	<br />

	<div id="birthdays_h" style="display:none;">
	<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><img style="padding-top:9px;padding-right:6px;float:right;cursor:pointer;" src="{T_THEME_PATH}{$MG_MAX}" onclick="javascript:ShowHide('birthdays_nh','birthdays_h','birthdays_nh');" alt="{L_BIRTHDAYS}" /><div class="tbl-title"> {L_BIRTHDAYS} </div></div></div></div>
	<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
	<tr><td class="row1"><span class="gensmall">&nbsp;</span></td></tr>
	</table>
	<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;</div></div></div></div>
	</div>

	<div id="birthdays_nh">
	<script type="text/javascript">
	<!--
	tmp = 'birthdays';
	if(GetCookie(tmp) == '2')
	{
		ShowHide('birthdays_nh', 'birthdays_h', 'birthdays_nh');
	}
	//-->
	</script>
	<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><img style="padding-top:9px;padding-right:6px;float:right;cursor:pointer;" src="{T_THEME_PATH}{$MG_MIN}" onclick="javascript:ShowHide('birthdays_nh','birthdays_h','birthdays_nh');" alt="{L_BIRTHDAYS}" /><div class="tbl-title"> {L_BIRTHDAYS} </div></div></div></div>
	<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td class="row1" align="center" valign="middle"><img src="{T_THEME_PATH}/images/birthday.gif" alt="{L_BIRTHDAYS}" /></td>
		<td class="row1" width="100%"><p class="genmed"><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <b>{BIRTHDAY_LIST}</b><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></p></td>
	</tr>
	<tr><td class="cat-bottom" colspan="2">&nbsp;</td></tr>
	</table>
	<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;</div></div></div></div>
	</div>
<!-- ENDIF -->

<br   />

<div id="statistics_h" style="display:none;">
<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><img style="padding-top:9px;padding-right:6px;float:right;cursor:pointer;" src="{T_THEME_PATH}{$MG_MAX}" onclick="javascript:ShowHide('statistics_nh','statistics_h','statistics_nh');" alt="{L_STATISTICS}" /><div class="tbl-title"> {L_STATISTICS} </div></div></div></div>
<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
<tr><td class="row1"><span class="gensmall">&nbsp;</span></td></tr>
</table>
<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;</div></div></div></div>
</div>

<div id="statistics_nh">
<script type="text/javascript">
<!--
tmp = 'birthdays';
if(GetCookie(tmp) == '2')
{
	ShowHide('statistics_nh', 'statistics_h', 'statistics_nh');
}
//-->
</script>
<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><img style="padding-top:9px;padding-right:6px;float:right;cursor:pointer;" src="{T_THEME_PATH}{$MG_MIN}" onclick="javascript:ShowHide('statistics_nh','statistics_h','statistics_nh');" alt="{L_STATISTICS}" /><div class="tbl-title"> {L_STATISTICS} </div></div></div></div>
<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
<tr>
	<td class="row1" align="center" valign="middle"><img src="{T_THEME_PATH}/images/stat.gif" alt="{L_STATISTICS}" /></td>
	<td class="row1" width="100%" valign="middle"><p class="genmed">{TOTAL_POSTS}&nbsp;|&nbsp;{TOTAL_TOPICS}&nbsp;|&nbsp;{TOTAL_USERS}&nbsp;|&nbsp;{NEWEST_USER}</p></td>
</tr>
 
</table>
<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;</div></div></div></div>
</div>

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
	<br   />

	<form method="post" action="{S_LOGIN_ACTION}">
	
	<div><div class="tbl-h-l"><div class="tbl-h-r"><div class="tbl-h-c"><div class="tbl-title"><h4><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></h4></div></div></div></div>
	<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		 
		<td class="row1" align="center"><span class="genmed">{L_USERNAME}:</span> <input class="post" type="text" name="username" size="10" />&nbsp; <span class="genmed">{L_PASSWORD}:</span> <input class="post" type="password" name="password" size="10" />&nbsp; <!-- IF S_AUTOLOGIN_ENABLED --> <span class="gensmall">{L_LOG_ME_IN}</span> <input type="checkbox" class="radio" name="autologin" /><!-- ENDIF -->&nbsp; <input type="submit" class="btnmain" name="login" value="{L_LOGIN}" /></td>
	</tr>
 
	</table>
	{S_LOGIN_REDIRECT}
	<div class="tbl-f-l"><div class="tbl-f-r"><div class="tbl-f-c">&nbsp;</div></div></div></div>
	
	{S_FORM_TOKEN}
	</form>
<!-- ENDIF -->
<!-- INCLUDE breadcrumbs.html -->
 

<br/>
<br/>
<br/>
<center>
<div id="forumsimages" >
	 
<table class="legend">
<tr>
<td width="20" align="center">{FORUM_UNREAD_IMG}</td>
	<td><span class="gensmall">{L_UNREAD_POSTS}</span></td>
	<td>&nbsp;&nbsp;</td>
	<td width="20" align="center">{FORUM_IMG}</td>
	<td><span class="gensmall">{L_NO_UNREAD_POSTS}</span></td>
	<td>&nbsp;&nbsp;</td>
	<td width="20" align="center">{FORUM_LOCKED_IMG}</td>
	<td><span class="gensmall">{L_FORUM_LOCKED}</span></td>
</tr>

</table>
</div>
</center>
<!-- INCLUDE overall_footer.html -->