<!-- INCLUDE overall_header.html -->

<div id="pagecontent">

	<form name="login_forum" method="post" action="{S_LOGIN_ACTION}">
	
	<table class="tablebg" width="100%" cellspacing="1" align="center">
	<tr> 
		<th>{L_LOGIN}</th>
	</tr>
	<tr>
		<td class="row3" align="center"><span class="gensmall">{L_LOGIN_FORUM}</span></td>
	</tr>
	<tr> 
		<td class="row1" align="center">
		
			<table cellspacing="1" cellpadding="4" border="0">
			<!-- IF LOGIN_ERROR -->
				<tr>
					<td class="gensmall" colspan="2" align="center"><span class="error">{LOGIN_ERROR}</span></td>
				</tr>
			<!-- ENDIF -->
			<tr> 
				<td class="gensmall"><b>{L_PASSWORD}:</b></td>
				<td><input class="post" type="password" name="password" size="25" tabindex="2" /></td>
			</tr>
			</table>
		</td>
	</tr>
	<tr> 
		<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input type="submit" name="login" class="btnmain" value="{L_LOGIN}" tabindex="3" /></td>
	</tr>
	</table>
	{S_FORM_TOKEN}
	{S_LOGIN_REDIRECT}
	</form>

</div>

<br   />

<!-- INCLUDE breadcrumbs.html -->

<br />

<div align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->