<!-- INCLUDE mcp_header.html -->

<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
<tr>
	<th colspan="2" align="center">{L_POST}</th>
</tr>
<tr> 
	<td class="row1" align="center">
		<table cellspacing="1" cellpadding="2" border="0">
		<tr>
			<td class="gen" align="center"><!-- IF USER_COLOR --><b style="color: #{USER_COLOR}"><!-- ELSE --><b><!-- ENDIF -->{USERNAME}</b></td>
		</tr>
		<!-- IF RANK_TITLE -->
			<tr>
				<td class="postdetails" align="center">{RANK_TITLE}</td>
			</tr>
		<!-- ENDIF -->
		<!-- IF RANK_IMG -->
			<tr>
				<td align="center">{RANK_IMG}</td>
			</tr>
		<!-- ENDIF -->
		<tr>
			<td align="center"><!-- IF AVATAR_IMG -->{AVATAR_IMG}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" alt="" /><!-- ENDIF --></td>
		</tr>
		</table>
	</td>
	<td class="row1">
		<span class="gen">{POST}</span>
	</td>
</tr>
</table>

<br clear="all" /><br />

<form method="post" name="mcp" action="{U_POST_ACTION}">

<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
<tr>
	<th align="center">{L_ADD_WARNING}</th>
</tr>
<tr>
	<td class="row3" align="center"><span class="genmed">{L_ADD_WARNING_EXPLAIN}</span></td>
<tr>
	<td class="row1" align="center"><textarea name="warning" rows="10" cols="76">{L_WARNING_POST_DEFAULT}</textarea></td>
</tr>
<tr>
<!-- IF S_CAN_NOTIFY -->
	<td class="row1" align="center"><input type="checkbox" class="radio" name="notify_user" checked="checked" /><span class="genmed">{L_NOTIFY_USER_WARN}</span></td>
</tr>
<!-- ENDIF -->
<tr>
	<td class="cat" align="center"><input class="btnmain" type="submit" name="action[add_warning]" value="{L_SUBMIT}" />&nbsp;&nbsp;<input class="btnlite" type="reset" value="{L_RESET}" /></td>
</tr>
</table>
{S_FORM_TOKEN}
</form>

<br clear="all" /><br />

<!-- INCLUDE mcp_footer.html -->