<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

<!--
	We request you retain the full copyright notice below including the link to www.phpbb.com.
	This not only gives respect to the large amount of time given freely by the developers
	but also helps build interest, traffic and use of phpBB3. If you (honestly) cannot retain
	the full copyright we ask you at least leave in place the "Powered by phpBB" line, with
	"phpBB" linked to www.phpbb.com. If you refuse to include even this then support on our
	forums may be affected.

	The phpBB Group : 2006
//-->


</div>
</div>

</body>

<br/><br/>

<br/><br/>


<div id="wrapfooter">
	<!-- IF U_ACP --><span class="gensmall">[ <a href="{U_ACP}">{L_ACP}</a> ]</span><br /><br /><!-- ENDIF -->
 
	
</div>
<div id="uphead">
<table  width="100%" height="18" border="0"  cellspacing="0" style="margin:0px;padding:0px;">
<tr>
			<td  class="uperimg"><img src="{T_THEME_PATH}/images/c4.gif" width="18" height="18" alt="" /></td>
			<td  class="uperimg" background="{T_THEME_PATH}/images/l2.gif"   colspan="3" width="100%" height="18"></td>
		 
			<td  class="uperimg"><img src="{T_THEME_PATH}/images/c3.gif" width="18" height="18" alt="" /></td>
		</tr>
			 </table></div></div>
			 <br/><br/>
	<center>
<div>
 
</div>
<br/>
 
</center>
<center><span class="copyright">Powered by <a href="http://www.phpbb.com/">phpBB</a> &copy; 2000, 2002, 2005, 2007 phpBB Group
	<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
	<!-- IF DEBUG_OUTPUT --><br /><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF --></span><br/>
 

	<span class="copyright">mile200 v1.0.1 designed by Team -<a target="_blank" href="http://www.codemiles.com/">Programming forum</a>-<a target="_blank" href="http://www.wseetk.com/">سيارات للبيع</a>  .</span>
</center>		 
</html>