<tr valign="middle" align="{S_CONTENT_FLOW_BEGIN}">
	<td colspan="2">
		<script type="text/javascript">
		// <![CDATA[
		
		// Define the bbCode tags
		var bbcode = new Array();
		var bbtags = new Array('[b]','[/b]','[i]','[/i]','[u]','[/u]','[quote]','[/quote]','[code]','[/code]','[list]','[/list]','[list=]','[/list]','[img]','[/img]','[url]','[/url]','[flash=]', '[/flash]','[size=]','[/size]'<!-- BEGIN custom_tags -->, {custom_tags.BBCODE_NAME}<!-- END custom_tags -->);
		var imageTag = false;
		
		// Helpline messages
		var help_line = {
			b: '{LA_BBCODE_B_HELP}',
			i: '{LA_BBCODE_I_HELP}',
			u: '{LA_BBCODE_U_HELP}',
			q: '{LA_BBCODE_Q_HELP}',
			c: '{LA_BBCODE_C_HELP}',
			l: '{LA_BBCODE_L_HELP}',
			e: '{LA_BBCODE_LISTITEM_HELP}',
			o: '{LA_BBCODE_O_HELP}',
			p: '{LA_BBCODE_P_HELP}',
			w: '{LA_BBCODE_W_HELP}',
			a: '{LA_BBCODE_A_HELP}',
			s: '{LA_BBCODE_S_HELP}',
			f: '{LA_BBCODE_F_HELP}',
			y: '{LA_BBCODE_Y_HELP}',
			d: '{LA_BBCODE_D_HELP}',
			tip: '{L_STYLES_TIP}'
			<!-- BEGIN custom_tags -->
				,cb_{custom_tags.BBCODE_ID}: '{custom_tags.A_BBCODE_HELPLINE}'
			<!-- END custom_tags -->
		}

		// ]]>
		</script>
		<script type="text/javascript" src="{T_SUPER_TEMPLATE_PATH}/editor.js"></script>

<!-- IF S_BBCODE_ALLOWED -->
		<input type="button" class="btnbbcode" accesskey="b" name="addbbcode0" value=" B " style="font-weight:bold; width: 30px;" onclick="bbstyle(0)" onmouseover="helpline('b')" onmouseout="helpline('tip')" />
		<input type="button" class="btnbbcode" accesskey="i" name="addbbcode2" value=" i " style="font-style:italic; width: 30px;" onclick="bbstyle(2)" onmouseover="helpline('i')" onmouseout="helpline('tip')" />
		<input type="button" class="btnbbcode" accesskey="u" name="addbbcode4" value=" u " style="text-decoration: underline; width: 30px;" onclick="bbstyle(4)" onmouseover="helpline('u')" onmouseout="helpline('tip')" />
		<!-- IF S_BBCODE_QUOTE -->
			<input type="button" class="btnbbcode" accesskey="q" name="addbbcode6" value="Quote" style="width: 50px" onclick="bbstyle(6)" onmouseover="helpline('q')" onmouseout="helpline('tip')" />
		<!-- ENDIF -->
		<input type="button" class="btnbbcode" accesskey="c" name="addbbcode8" value="Code" style="width: 40px" onclick="bbstyle(8)" onmouseover="helpline('c')" onmouseout="helpline('tip')" />
		<input type="button" class="btnbbcode" accesskey="l" name="addbbcode10" value="List" style="width: 40px" onclick="bbstyle(10)" onmouseover="helpline('l')" onmouseout="helpline('tip')" />
		<input type="button" class="btnbbcode" accesskey="o" name="addbbcode12" value="List=" style="width: 40px" onclick="bbstyle(12)" onmouseover="helpline('o')" onmouseout="helpline('tip')" />
		<input type="button" class="btnbbcode" accesskey="y" name="addlistitem" value="[*]" style="width: 40px" onclick="bbstyle(-1)" onmouseover="helpline('e')" onmouseout="helpline('tip')" />								
		<!-- IF S_BBCODE_IMG -->
			<input type="button" class="btnbbcode" accesskey="p" name="addbbcode14" value="Img" style="width: 40px" onclick="bbstyle(14)" onmouseover="helpline('p')" onmouseout="helpline('tip')" />
		<!-- ENDIF -->
		<!-- IF S_LINKS_ALLOWED -->
			<input type="button" class="btnbbcode" accesskey="w" name="addbbcode16" value="URL" style="text-decoration: underline; width: 40px" onclick="bbstyle(16)" onmouseover="helpline('w')" onmouseout="helpline('tip')" />
		<!-- ENDIF -->
		<!-- IF S_BBCODE_FLASH -->
			<input type="button" class="btnbbcode" accesskey="d" name="addbbcode18" value="Flash" onclick="bbstyle(18)" onmouseover="helpline('d')" onmouseout="helpline('tip')" />
		<!-- ENDIF -->
		<span class="genmed nowrap">{L_FONT_SIZE}: <select class="gensmall" name="addbbcode20" onchange="bbfontstyle('[size=' + this.form.addbbcode20.options[this.form.addbbcode20.selectedIndex].value + ']', '[/size]');this.form.addbbcode20.selectedIndex = 2;" onmouseover="helpline('f')" onmouseout="helpline('tip')">
			<option value="50">{L_FONT_TINY}</option>
			<option value="85">{L_FONT_SMALL}</option>
			<option value="100" selected="selected">{L_FONT_NORMAL}</option>
			<!-- IF not MAX_FONT_SIZE or MAX_FONT_SIZE >= 150 -->
				<option value="150">{L_FONT_LARGE}</option>
				<!-- IF not MAX_FONT_SIZE or MAX_FONT_SIZE >= 200 -->
					<option value="200">{L_FONT_HUGE}</option>
				<!-- ENDIF -->
			<!-- ENDIF -->
		</select></span>
<!-- ENDIF -->
	</td>
</tr>
<!-- IF S_BBCODE_ALLOWED and .custom_tags -->
	<tr valign="middle" align="{S_CONTENT_FLOW_BEGIN}">
		<td colspan="2">
		<!-- BEGIN custom_tags -->
			<input type="button" class="btnbbcode" name="addbbcode{custom_tags.BBCODE_ID}" value="{custom_tags.BBCODE_TAG}" onclick="bbstyle({custom_tags.BBCODE_ID})"<!-- IF custom_tags.BBCODE_HELPLINE !== '' --> onmouseover="helpline('cb_{custom_tags.BBCODE_ID}')" onmouseout="helpline('tip')"<!-- ENDIF --> />
		<!-- END custom_tags -->
		</td>
	</tr>
<!-- ENDIF -->
<!-- IF S_BBCODE_ALLOWED -->
<tr>
	<td<!-- IF $S_SIGNATURE or S_EDIT_DRAFT --> colspan="2"<!-- ENDIF -->><input type="text" readonly="readonly" name="helpbox" style="width:100%" class="helpline" value="{L_STYLES_TIP}" /></td>
	<!-- IF not $S_SIGNATURE and not S_EDIT_DRAFT -->
		<td class="genmed" align="center">{L_FONT_COLOR}</td>
	<!-- ENDIF -->
</tr>
<!-- ENDIF -->
